html {
  scroll-behavior: smooth;
}

body {
  background: url('../../assets/bg/bg-section-1.png');
  background-attachment: fixed;
  overflow-x: hidden;
}

section {
  width: 100%;
  height: 100%;
}

#arrow-page-up {
  position: fixed;
  width: 60px;
  height: 10px;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  z-index: 99;
  // #arrow-page-up.light
  &.light {
    // #arrow-page-up.light > div
    > div {
      // #arrow-page-up.light > div:nth-child(1)
      &:nth-child(1) {
        // #arrow-page-up.light > div:nth-child(1) > div
        > div {
          background: #f7f7f7;
        }
      }
      // #arrow-page-down.up > div:nth-child(2)
      &:nth-child(2) {
        // #arrow-page-down.up > div:nth-child(2) > div
        > div {
          background: #f7f7f7;
        }
      }
      // #arrow-page-down.up > div:nth-child(3)
      &:nth-child(3) {
        // #arrow-page-down.up > div:nth-child(3) > div
        > div {
          background: #f7f7f7;
        }
      }
    }
  }
  // #arrow-page-down.up
  &.dark {
    // #arrow-page-down.up > div
    > div {
      // #arrow-page-down.up > div:nth-child(1)
      &:nth-child(1) {
        // #arrow-page-down.up > div:nth-child(1) > div
        > div {
          background: #333333;
        }
      }
      // #arrow-page-down.up > div:nth-child(2)
      &:nth-child(2) {
        // #arrow-page-down.up > div:nth-child(2) > div
        > div {
          background: #333333;
        }
      }
      // #arrow-page-down.up > div:nth-child(3)
      &:nth-child(3) {
        // #arrow-page-down.up > div:nth-child(3) > div
        > div {
          background: #333333;
        }
      }
    }
  }
  // #arrow-page-up > div
  > div {
    position: relative;
    height: 50%;
    // #arrow-page-up > div::nth-child(1)
    &:nth-child(1) {
      // #arrow-page-up > div::nth-child(1) > div
      > div {
        width: 30px;
        height: 1px;
        opacity: 0;
        animation: arrowsAnimation 2s 0.5s ease-in-out infinite;
        // #arrow-page-up > div::nth-child(1) > div:first-child
        &:first-child {
          transform: rotate(-20deg);
        }
        // #arrow-page-up > div::nth-child(1) > div:last-child
        &:last-child {
          transform: rotate(20deg);
          margin: -1px 0 0 29px;
        }
      }
    }
    // #arrow-page-up > div:nth-child(2)
    &:nth-child(2) {
      // #arrow-page-up > div:nth-child(2) > div
      > div {
        width: 30px;
        height: 1px;
        opacity: 0;
        animation: arrowsAnimation 2s 0.25s ease-in-out infinite;
        // #arrow-page-up > div:nth-child(2) > div:first-child
        &:first-child {
          transform: rotate(-20deg);
        }
        // #arrow-page-up > div:nth-child(2) > div:last-child
        &:last-child {
          transform: rotate(20deg);
          margin: -1px 0 0 29px;
        }
      }
    }
    // #arrow-page-up > div:nth-child(2)
    &:nth-child(3) {
      // #arrow-page-up > div:nth-child(3) > div
      > div {
        width: 30px;
        height: 1px;
        opacity: 1;
        animation: arrowsAnimation 2s 0s ease-in-out infinite;
        // #arrow-page-up > div:nth-child(3) > div:first-child
        &:first-child {
          transform: rotate(-20deg);
        }
        // #arrow-page-up > div:nth-child(3) > div:last-child
        &:last-child {
          transform: rotate(20deg);
          margin: -1px 0 0 29px;
        }
      }
    }
  }
}

#arrow-page-down {
  position: fixed;
  width: 60px;
  height: 10px;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  z-index: 99;
  // #arrow-page-down.light
  &.light {
    // #arrow-page-down.light > div
    > div {
      // #arrow-page-down.light > div:nth-child(1)
      &:nth-child(1) {
        // #arrow-page-down.light > div:nth-child(1) > div
        > div {
          background: #f7f7f7;
        }
      }
      // #arrow-page-down.light > div:nth-child(2)
      &:nth-child(2) {
        // #arrow-page-down.light > div:nth-child(2) > div
        > div {
          background: #f7f7f7;
        }
      }
      // #arrow-page-down.light > div:nth-child(3)
      &:nth-child(3) {
        // #arrow-page-down.light > div:nth-child(3) > div
        > div {
          background: #f7f7f7;
        }
      }
    }
  }
  // #arrow-page-down.dark
  &.dark {
    // #arrow-page-down.dark > div
    > div {
      // #arrow-page-down.dark > div:nth-child(1)
      &:nth-child(1) {
        // #arrow-page-down.dark > div:nth-child(1) > div
        > div {
          background: #333333;
        }
      }
      // #arrow-page-down.dark > div:nth-child(2)
      &:nth-child(2) {
        // #arrow-page-down.dark > div:nth-child(2) > div
        > div {
          background: #333333;
        }
      }
      // #arrow-page-down.dark > div:nth-child(3)
      &:nth-child(3) {
        // #arrow-page-down.dark > div:nth-child(3) > div
        > div {
          background: #333333;
        }
      }
    }
  }
  // #arrow-page-down > div
  > div {
    position: relative;
    height: 50%;
    // #arrow-page-down > div::nth-child(1)
    &:nth-child(1) {
      // #arrow-page-down > div::nth-child(1) > div
      > div {
        width: 30px;
        height: 1px;
        opacity: 1;
        animation: arrowsAnimation 2s 0s ease-in-out infinite;
        // #arrow-page-down > div::nth-child(1) > div:first-child
        &:first-child {
          transform: rotate(-160deg);
        }
        // #arrow-page-down > div::nth-child(1) > div:last-child
        &:last-child {
          transform: rotate(160deg);
          margin: -1px 0 0 29px;
        }
      }
    }
    // #arrow-page-down > div:nth-child(2)
    &:nth-child(2) {
      // #arrow-page-down > div:nth-child(2) > div
      > div {
        width: 30px;
        height: 1px;
        opacity: 0;
        animation: arrowsAnimation 2s 0.25s ease-in-out infinite;
        // #arrow-page-down > div:nth-child(2) > div:first-child
        &:first-child {
          transform: rotate(-160deg);
        }
        // #arrow-page-down > div:nth-child(2) > div:last-child
        &:last-child {
          transform: rotate(160deg);
          margin: -1px 0 0 29px;
        }
      }
    }
    // #arrow-page-down > div:nth-child(2)
    &:nth-child(3) {
      // #arrow-page-down > div:nth-child(3) > div
      > div {
        width: 30px;
        height: 1px;
        opacity: 0;
        animation: arrowsAnimation 2s 0.5s ease-in-out infinite;
        // #arrow-page-down > div:nth-child(3) > div:first-child
        &:first-child {
          transform: rotate(-160deg);
        }
        // #arrow-page-down > div:nth-child(3) > div:last-child
        &:last-child {
          transform: rotate(160deg);
          margin: -1px 0 0 29px;
        }
      }
    }
  }
}

@keyframes arrowsAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

#about {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  // #about .email
  .email {
    width: 100%;
    height: 30px;
    padding: 5px 20px;
    text-align: right;
    color: #f7f7f7;
  }
  // #about .content
  .content {
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f7f7f7;
    // #about .content > .logo
    > .logo {
      margin: 20px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      // #about .content > .logo > .image
      > .image {
        margin-right: 20px;
        // #about .content > .logo > .image > img
        > img {
          width: 150px;
        }
      }
      // #about .content > .logo > .text
      > .text {
        font-size: 3.9rem;
        font-weight: 300;
        cursor: default;
      }
    }
    // #about .content > .social
    > .social {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      z-index: 99;
      // #about .content > .social > .social-icon
      > .social-icon {
        margin: 10px 0;
        font-size: 1.5rem;
        cursor: pointer;
        transition: all 300ms;
        // #about .content > .social > .social-icon:hover
        &:hover {
          transform: scale(1.5);
          transition: all 300ms;
        }
        // #about .content > .social > .social-icon.light
        &.light {
          color: #f7f7f7;
          // #about .content > .social > .social-icon.light > a
          > a {
            &:active,
            &:visited,
            &:hover {
              color: #f7f7f7;
              text-decoration: none;
            }
          }
        }
        // #about .content > .social > .social-icon.dark
        &.dark {
          color: #333333;
          // #about .content > .social > .social-icon.dark > a
          > a {
            &:active,
            &:visited,
            &:hover {
              color: #333333;
              text-decoration: none;
            }
          }
        }
      }
      // #about .content > .social > #icon-lang
      > #icon-lang {
        margin: 2px 0 0 10px;
        transition: all 300ms;
        > img {
          width: 26px;
          filter: grayscale(100%);
          transition: all 300ms;
        }
        // #about .content > .social >  #icon-lang:hover
        &:hover {
          transform: scale(1.5);
          transition: all 500ms;
        }
      }
      // #about .content > .social.vFixed
      &.vFixed {
        position: fixed;
        top: 50%;
        transform: translate(0, -50%);
        right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 300ms;
        // #about .content > .social.vFixed > .social-icon
        > .social-icon {
          margin: 10px;
          transition: all 300ms;
        }
        // #about .content > .social.vFixed > #icon-lang
        > #icon-lang {
          margin: 10px 0 0 0;
          transition: all 300ms;
        }
      }
      // #about .content > .social.vFixed2
      &.vFixed2 {
        position: fixed;
        bottom: 40px;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: all 300ms;
        // #about .content > .social.vFixed2 > .social-icon
        > .social-icon {
          margin: 10px;
          transition: all 300ms;
        }
        // #about .content > .social.vFixed > #icon-lang
        > #icon-lang {
          margin: 2px 0 0 10px;
          transition: all 300ms;
        }
      }
    }
    // #about .content > .main
    > .main {
      margin: 50px 0 30px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // #about .content > .main > .item
      > .item {
        margin: 20px 0;
        width: calc(80% - 100px);
        text-align: center;
        // #about .content > .main > .item.first
        &.first {
          // #about .content > .main > .item.first > .title
          > .title {
            font-size: 2.3rem;
            font-weight: 100;
            transition: all 300ms;
          }
          // #about .content > .main > .item.first > .title
          > .subtitle {
            font-size: 1.3rem;
            font-weight: 100;
            transition: all 300ms;
          }
        }
      }
    }
  }
  // #about.active
  &.active {
    // #about.active .content
    .content {
      // #about.active .content > .social
      > .social {
        // #about.active .content > .social > .social-icon
        > .social-icon {
          margin: 10px;
          transition: all 300ms;
        }
      }
    }
  }
}
// end #about

#tools {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  // #tools .content
  .content {
    position: relative;
    height: calc(100vh - 140px);
    color: #333333;
    // #tools .content > .title
    > .title {
      position: absolute;
      width: 190px;
      top: -45px;
      right: -190px;
      text-align: center;
      font-size: 2rem;
      z-index: 9;
      transition: all 0.5s;
      transition-delay: 0.5s;
      // #tools .content > .title > div
      > div {
        // #tools .content > .title > div:last-child
        &:first-child {
          color: #f7f7f7;
        }
        // #tools .content > .title > div:last-child
        &:last-child {
          margin-top: -25px;
          color: #333;
          opacity: 0;
          transition: all 0.5s;
        }
      }
    }
    // #tools .content > .main
    > .main {
      width: 100%;
      height: 100%;
      background: #f7f7f7;
      -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      // #tools .content > .main > .column
      > .column {
        height: 100%;
        width: 33.3%;
        margin: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        // #tools .content > .main > .column:first-child
        &:first-child {
          position: relative;
          margin-left: 80px;
          background: #f7f7f7;
          -webkit-box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0.1);
          animation: animationToolsFirstColumnReverse 0.25s 0.5s ease-in-out
            forwards;
          // #tools. .content > .main > .column:first-child::before
          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 50%;
            background: #f7f7f7;
            top: -13px;
            -moz-transform: skew(0deg, 4deg);
            -webkit-transform: skew(0deg, 4deg);
            -o-transform: skew(0deg, 4deg);
            -ms-transform: skew(0deg, 4deg);
            transform: skew(0deg, 4deg);
            animation: animationToolsFirstColumnUpReverse 0.25s 0.5s ease-in-out
              forwards;
          }
          // #tools. .content > .main > .column:first-child::after
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 50%;
            background: #f7f7f7;
            bottom: -13px;
            -moz-transform: skew(0deg, -4deg);
            -webkit-transform: skew(0deg, -4deg);
            -o-transform: skew(0deg, -4deg);
            -ms-transform: skew(0deg, -4deg);
            transform: skew(0deg, -4deg);
            animation: animationToolsFirstColumnDownReverse 0.25s 0.5s
              ease-in-out forwards;
          }
        }
        // #tools .content > .main > .column:last-child
        &:last-child {
          margin-right: 80px;
        }
        // #tools .content > .main > .column > .item
        > .item {
          width: 100%;
          text-align: center;
          filter: blur(10px);
          z-index: 5;
          transition: all 0.5s;
          img {
            width: 30%;
          }
        }
      }
    }
  }
  // #tools.active .content
  &.active {
    .content {
      // #tools.active .content > .title {
      > .title {
        right: 50px;
        transition: all 0.5s;
        transition-delay: 0.5s;
        // #tools.active .content > .title > div
        > div {
          // #tools.active .content > .title > div:last-child
          &:last-child {
            margin-top: 10px;
            opacity: 1;
            transition: all 0.5s;
            transition-delay: 1s;
          }
        }
      }
      // #tools.active .content > .main
      > .main {
        // #tools.active .content > .main > .column
        > .column {
          // #tools.active .content > .main > .column:first-child
          &:first-child {
            -webkit-box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0);
            box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0);
            animation: animationToolsFirstColumn 0.5s 0.5s ease-in-out forwards;
            // #tools.active .content > .main > .column:first-child::before
            &::before {
              top: 0px;
              -moz-transform: skew(0deg, 0deg);
              -webkit-transform: skew(0deg, 0deg);
              -o-transform: skew(0deg, 0deg);
              -ms-transform: skew(0deg, 0deg);
              transform: skew(0deg, 0deg);
              animation: animationToolsFirstColumnUp 0.5s 0.5s ease-in-out
                forwards;
            }
            // #tools.active .content > .main > .column:first-child::after
            &::after {
              bottom: 0px;
              -moz-transform: skew(0deg, 0deg);
              -webkit-transform: skew(0deg, 0deg);
              -o-transform: skew(0deg, 0deg);
              -ms-transform: skew(0deg, 0deg);
              transform: skew(0deg, 0deg);
              animation: animationToolsFirstColumnDown 0.5s 0.5s ease-in-out
                forwards;
            }
          }
          > .item {
            filter: blur(0);
            transition: all 0.5s;
            transition-delay: 0.25s;
          }
        }
      }
    }
  }

  @keyframes animationToolsFirstColumn {
    0% {
      -webkit-box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0);
      box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0.1);
      box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0.1);
    }
  }
  // end animationToolsFirstColumn

  @keyframes animationToolsFirstColumnReverse {
    0% {
      -webkit-box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0.1);
      box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0.1);
    }
    100% {
      -webkit-box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0);
      box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0);
    }
  }
  // end animationToolsFirstColumnReverse

  @keyframes animationToolsFirstColumnUp {
    0% {
      top: 0px;
      -moz-transform: skew(0deg, 0deg);
      -webkit-transform: skew(0deg, 0deg);
      -o-transform: skew(0deg, 0deg);
      -ms-transform: skew(0deg, 0deg);
      transform: skew(0deg, 0deg);
    }
    100% {
      top: -13px;
      -moz-transform: skew(0deg, 7deg);
      -webkit-transform: skew(0deg, 7deg);
      -o-transform: skew(0deg, 7deg);
      -ms-transform: skew(0deg, 7deg);
      transform: skew(0deg, 7deg);
    }
  }
  // end animationToolsFirstColumnUp

  @keyframes animationToolsFirstColumnUpReverse {
    0% {
      top: -13px;
      -moz-transform: skew(0deg, 7deg);
      -webkit-transform: skew(0deg, 7deg);
      -o-transform: skew(0deg, 7deg);
      -ms-transform: skew(0deg, 7deg);
      transform: skew(0deg, 7deg);
    }
    100% {
      top: 0px;
      -moz-transform: skew(0deg, 0deg);
      -webkit-transform: skew(0deg, 0deg);
      -o-transform: skew(0deg, 0deg);
      -ms-transform: skew(0deg, 0deg);
      transform: skew(0deg, 0deg);
    }
  }
  // end animationToolsFirstColumnUpReverse

  @keyframes animationToolsFirstColumnDown {
    0% {
      bottom: 0px;
      -moz-transform: skew(0deg, 0deg);
      -webkit-transform: skew(0deg, 0deg);
      -o-transform: skew(0deg, 0deg);
      -ms-transform: skew(0deg, 0deg);
      transform: skew(0deg, 0deg);
    }
    100% {
      bottom: -13px;
      -moz-transform: skew(0deg, -7deg);
      -webkit-transform: skew(0deg, -7deg);
      -o-transform: skew(0deg, -7deg);
      -ms-transform: skew(0deg, -7deg);
      transform: skew(0deg, -7deg);
    }
  }
  // end animationToolsFirstColumnDown

  @keyframes animationToolsFirstColumnDownReverse {
    0% {
      bottom: -13px;
      -moz-transform: skew(0deg, -7deg);
      -webkit-transform: skew(0deg, -7deg);
      -o-transform: skew(0deg, -7deg);
      -ms-transform: skew(0deg, -7deg);
      transform: skew(0deg, -7deg);
    }
    100% {
      bottom: 0px;
      -moz-transform: skew(0deg, 0deg);
      -webkit-transform: skew(0deg, 0deg);
      -o-transform: skew(0deg, 0deg);
      -ms-transform: skew(0deg, 0deg);
      transform: skew(0deg, 0deg);
    }
  }
  // end animationToolsFirstColumnDownReverse
}
// end #tools

#projects {
  // #projects .content
  .content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    // #projects .content > .title
    > .title {
      position: absolute;
      top: 20px;
      left: 20px;
      font-family: 'Major Mono Display', monospace;
      color: #f7f7f7;
      font-size: 3rem;
    }
    // #projects .content > .main
    > .main {
      opacity: 1;
      width: 100%;
      height: 240px;
      background: #f7f7f7;
      padding-right: 60px;
      border-top: 5px double #333333;
      border-bottom: 5px double #333333;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      transition: all 500ms;
      // #projects .content > .item
      > .item {
        position: relative;
        width: 100%;
        margin: 0 25px;
        width: 25%;
        height: 200px;
        color: #333333;
        background: rgba(247, 247, 247, 0.5);
        padding: 20px 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        transition: all 500ms;
        // #projects .content > .item > .image
        > .image {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          width: 100%;
          text-align: center;
          z-index: 5;
          transition: all 500ms;
          // #projects .content > .item > .image > img
          > img {
            transition: all 500ms;
          }
        }
        // #projects .content > .item > .wrap
        > .wrap {
          width: 100%;
          height: 70%;
          opacity: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          transition: all 500ms;
          // #projects .content > .item > .wrap > .name
          > .name {
            font-weight: 100;
            font-size: 2rem;
          }
          // #projects .content > .item > .wrap > .text
          > .text {
            padding: 0 15px;
            text-align: center;
          }
          // #projects .content > .item > .wrap > .link
          > .link {
            // #projects .content > .item > .wrap > .link > a
            a,
            a:active,
            a:visited {
              color: #333333;
              text-decoration: none;
            }
          }
        }
        // #projects .content > .item:hover
        &:hover {
          height: 300px;
          border-radius: 5px;
          background: rgba(255, 255, 255, 0.5);
          -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
          transition: all 500ms;
          > .image {
            top: -75px;
            transform: translate(0, 0);
            transition: all 500ms;
            > img {
              -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
              filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
              transition: all 500ms;
            }
          }

          > .wrap {
            opacity: 1;
            transition: all 500ms;
          }
        }
        // #projects .content > .item#project-limoney
        &#project-limoney {
          > .image {
            > img {
              width: 150px;
            }
          }
        }
        // #projects .content > .item#project-pompeijs
        &#project-pompeijs {
          > .image {
            > img {
              width: 150px;
            }
          }
        }
        // #projects .content > .item#project-tivolijs
        &#project-tivolijs {
          > .image {
            > img {
              width: 150px;
            }
          }
        }
        // #projects .content > .item#project-navonajs
        &#project-navonajs {
          > .image {
            > img {
              width: 150px;
            }
          }
        }
      }
    }
  }
  // &.active {
  //   .content {
  //     > .main {
  //       opacity: 1;
  //       width: 100%;
  //       transition: all 500ms;
  //       transition-delay: 150ms;
  //     }
  //   }
  // }
}
// end #projects

#jobs {
  // #jobs .content
  .content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // #jobs .content > .title
    > .title {
      position: absolute;
      top: 20px;
      left: 0;
      width: 200px;
      height: 75px;
      font-size: 4rem;
      color: transparent;
      -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      > div {
        position: absolute;
        right: 100%;
        transition-delay: 500ms;
      }
    }
    // #jobs .content > .main
    > .main {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // #jobs .content > .main > .list
      > .list {
        margin-left: 200vw;
        width: 100%;
        color: #f7f7f7;
        overflow: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        transition: all 500ms;
        transition-delay: 500ms;
        // #jobs .content > .main > .list > .item
        > .item {
          flex: none;
          width: 300px;
          padding: 0 20px;
          scroll-snap-align: start;
          // #jobs .content > .main > .list > .item > .wrap
          > .wrap {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            cursor: pointer;
            background: rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            // #jobs .content > .main > .list > .item > .wrap > .image
            > .image {
              width: 100%;
              height: 150px;
              text-align: center;
              border-radius: 5px 5px 0 0;
              background: rgba(247, 247, 247, 0.3);
              // #jobs .content > .main > .list > .item > .wrap > .image > img
              > img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 5px 5px 0 0;
              }
            }
            // #jobs .content > .main > .list > .item > .wrap > .text
            > .text {
              height: 50%;
              padding: 20px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      // #jobs .content > .main > .arrows
      > .arrows {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #f7f7f7;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        font-size: 1.5rem;
        opacity: 0;
        transition: all 300ms;
        // #jobs .content > .main > .arrows > .arrow
        > .arrow {
          margin: 0 10px;
          // #jobs .content > .main > .arrows > i
          > i {
            opacity: 1;
            cursor: pointer;
            transition: all 300ms;
            // #jobs .content > .main > .arrows > i >.arrow.disabled
            &.disabled {
              opacity: 0.4;
              cursor: default;
              transition: all 300ms;
            }
          }
        }
      }
    }
  }
  // #jobs.active
  &.active {
    // #jobs.active .content
    .content {
      // #jobs.active .content > .title
      > .title {
        // #jobs.active .content > .title > div
        > div {
          // #jobs.active .content > .title > div:nth-child(1)
          &:nth-child(1) {
            right: 108px;
            transition: all 300ms;
            transition-delay: 1000ms;
          }
          // #jobs.active .content > .title > div:nth-child(2)
          &:nth-child(2) {
            right: 71px;
            transition: all 300ms;
            transition-delay: 800ms;
          }
          // #jobs.active .content > .title > div:nth-child(3)
          &:nth-child(3) {
            right: 34px;
            transition: all 300ms;
            transition-delay: 600ms;
          }
          // #jobs.active .content > .title > div:nth-child(4)
          &:nth-child(4) {
            right: 0px;
            transition: all 300ms;
            transition-delay: 400ms;
          }
        }
      }
      // #jobs.active .content > .main
      > .main {
        > .list {
          margin-left: 0;
          transition: all 500ms;
          transition-delay: 500ms;
        }
        // #jobs.active .content > .main > .arrows
        > .arrows {
          opacity: 1;
          transition: all 300ms;
          transition-delay: 1s;
        }
      }
    }
  }
  // #jobs .gallery
  .gallery {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    z-index: -5;
    transition: all 500ms;
    // #jobs .gallery.show
    &.show {
      opacity: 1;
      z-index: 997;
      transition: opacity 500ms;
    }
    // #jobs .gallery > .top
    > .top {
      width: 100%;
      height: 50px;
      padding: 0 20px;
      border-bottom: 1px solid #444444;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // #jobs .gallery > .top > .title
      > .title {
        color: rgba(247, 247, 247, 1);
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        // #jobs .gallery > .top > .title > .text
        > .text {
          font-size: 1.5rem;
          font-weight: 300;
          cursor: default;
        }
        // #jobs .gallery > .top > .title > .link
        > .link {
          font-size: 1rem;
          font-weight: 300;
          padding-bottom: 3px;
          margin-left: 10px;
          // #jobs .gallery > .top > .title > .link > a
          a {
            color: rgba(247, 247, 247, 1);
            text-decoration: none;
            transition: all 150ms;
            &:active,
            &:visited {
              color: rgba(247, 247, 247, 1);
              text-decoration: none;
              transition: all 150ms;
            }
            &:hover {
              text-decoration: underline;
              transition: all 150ms;
            }
          }
        }
      }
      // #jobs .gallery > .top > .close
      > .close {
        font-size: 1.5rem;
        color: rgba(247, 247, 247, 0.5);
        cursor: pointer;
        // #jobs .gallery > .top > .close:hover
        &:hover {
          color: rgba(247, 247, 247, 1);
          transition: all 150ms;
        }
      }
    }
    // #jobs .gallery > .main
    > .main {
      position: relative;
      height: calc(100% - 160px);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // #jobs .gallery > .main > .arrow
      > .arrow {
        padding: 20px;
        height: 100%;
        cursor: pointer;
        font-size: 1.5rem;
        color: rgba(247, 247, 247, 0.5);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: all 150ms;
        // #jobs .gallery > .main > .arrow:hover
        &:hover {
          color: rgba(247, 247, 247, 1);
          transition: all 150ms;
        }
        &.disabled {
          opacity: 0;
          cursor: default;
        }
      }
      // #jobs .gallery > .main > .item
      > .item {
        opacity: 0;
        position: absolute;
        top: 20px;
        left: 60px;
        width: calc(100% - 120px);
        height: calc(100% - 40px);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: -5;
        transition: all 300ms;
        // #jobs .gallery > .main > .item.show
        &.show {
          opacity: 1;
          z-index: 998;
          transition: all 300ms;
        }
        // #jobs .gallery > .main > .item > img
        > img {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }
    }
    // #jobs .gallery > .bottom
    > .bottom {
      height: 120px;
      border-top: 1px solid #444444;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // #jobs .gallery > .bottom > .arrow
      > .arrow {
        height: 100%;
        width: 55px;
        font-size: 1.3rem;
        padding: 20px;
        color: rgba(247, 247, 247, 0.5);
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 999;
        transition: all 150ms;
        // #jobs .gallery > .bottom > .arrow:hover
        &:hover {
          color: rgba(247, 247, 247, 1);
          transition: all 150ms;
        }
        // #jobs .gallery > .bottom > .arrow.disabled
        &.disabled {
          opacity: 0;
          cursor: default;
        }
      }
      // #jobs .gallery > .bottom > .list
      > .list {
        height: 100%;
        width: calc(100% - 110px);
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        // #jobs .gallery > .bottom > .list > .item
        > .item {
          height: 80px;
          width: 100px;
          min-width: 100px;
          margin: 10px;
          scroll-snap-align: start;
          cursor: pointer;
          background: #000000;
          // #jobs .gallery > .bottom > .list > .item > img
          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 3px;
            opacity: 0.7;
            transition: all 150ms;
            // #jobs .gallery > .bottom > .list > .item > img:hover
            &:hover {
              opacity: 1;
              transition: all 150ms;
            }
          }
        }
      }
    }
  }
}
// end #jobs

#clients {
  // #clients .content
  .content {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    // #clients .content > .tilte
    > .title {
      position: relative;
      width: 100%;
      height: 3px;
      border-top: 1px solid #f7f7f7;
      > .text {
        position: absolute;
        bottom: -90px;
        left: 15%;
        padding: 5px 20px 4px 20px;
        border-radius: 10px 10px 0 0;
        border: 4px double #333333;
        font-family: 'Sansita Swashed', cursive;
        font-size: 3rem;
        color: #2a0055;
        background: rgb(222, 222, 222);
        background: linear-gradient(
          180deg,
          rgba(222, 222, 222, 1) 0%,
          rgba(247, 247, 247, 1) 100%
        );
        -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
        z-index: 2;
        transition: all 0.5s;
        transition-delay: 0.5s;
      }
    }
    // #clients .content > .main
    > .main {
      width: 100%;
      height: 80%;
      background: #2a0055;
      border-top: 8px solid #f7f7f7;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      z-index: 3;
      // #clients .content > .main > .line
      > .line {
        width: calc(100% - 180px);
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        // #clients .content > .main > .line > .item
        > .item {
          width: 33.3%;
          transform: scale(0);
          transition-delay: 1s;
          > img {
            cursor: pointer;
          }
          // #clients .content > .main > .line > .item#logo-roadcard
          &#logo-roadcard {
            > img {
              width: 120px;
            }
          }
          // #clients .content > .main > .line > .item#logo-pamcary
          &#logo-pamcary {
            > img {
              width: 250px;
            }
          }
          // #clients .content > .main > .line > .item#logo-tqi
          &#logo-tqi {
            > img {
              width: 120px;
            }
          }
          // #clients .content > .main > .line > .item#logo-asia
          &#logo-asia {
            > img {
              width: 250px;
            }
          }
          // #clients .content > .main > .line > .item#logo-agv
          &#logo-agv {
            > img {
              width: 120px;
            }
          }
          // #clients .content > .main > .line > .item#logo-localcred
          &#logo-localcred {
            > img {
              width: 250px;
              cursor: default;
            }
          }
        }
      }
    }
  }
  // #clients.active
  &.active {
    // #clients.active .content
    .content {
      // #clients.active .content > .title
      > .title {
        // #clients.active .content > .title > .text
        > .text {
          bottom: -4px;
          transition: all 0.5s;
          transition-delay: 0.5s;
        }
      }
      // #clients.active .content > .main
      > .main {
        // #clients.active .content > .main > .line
        > .line {
          // #clients.active .content > .main > .line > .item
          > .item {
            transform: scale(1);
            transition-delay: 1s;
            animation: animationClientsItem 0.5s 0.5s forwards;
          }
        }
      }
    }
  }

  @keyframes animationClientsItem {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    80% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  // end animationClientsItem
}
// end #clients
