<section
  id="curriculum"
  [class]="global.currentTheme"
  [class.landscape]="global.isLandscape"
  [class.portrait]="global.isPortrait"
  [class.font-size-1]="global.accessibilityCurrentFontSize === 'font-size-1'"
  [class.font-size-2]="global.accessibilityCurrentFontSize === 'font-size-2'"
  [class.font-size-3]="global.accessibilityCurrentFontSize === 'font-size-3'"
  (window:resize)="scripts.resizedWindow()"
>
  <app-cv></app-cv>
</section>

<div
  class="options no-print"
  [class]="global.currentTheme"
  [class.landscape]="global.isLandscape"
  [class.portrait]="global.isPortrait"
  [class.font-size-1]="global.accessibilityCurrentFontSize === 'font-size-1'"
  [class.font-size-2]="global.accessibilityCurrentFontSize === 'font-size-2'"
  [class.font-size-3]="global.accessibilityCurrentFontSize === 'font-size-3'"
>
  <div class="print" onclick="window.print()">
    <div *ngIf="global.lang === 'en'" class="hint--left" aria-label="Print">
      <i class="fas fa-print"></i>
    </div>

    <div *ngIf="global.lang === 'pt'" class="hint--left" aria-label="Imprimir">
      <i class="fas fa-print"></i>
    </div>
  </div>

  <div class="lang">
    <div
      *ngIf="global.lang === 'en'"
      class="hint--left"
      aria-label="Versão em Protuguês"
      (click)="scripts.setLang('pt')"
    >
      <img src="../assets/icons/brazil-flag.png" alt="Icon Brazil Flag" />
    </div>

    <div
      *ngIf="global.lang === 'pt'"
      class="hint--left"
      aria-label="English Version"
      (click)="scripts.setLang('en')"
    >
      <img src="../assets/icons/uk-flag.png" alt="Icon UK Flag" />
    </div>
  </div>
</div>

<!-- accessibility -->
<app-accessibility></app-accessibility>
<!-- end accessibility -->
