<div class="content">
  <h1 class="title">
    <div>J</div>
    <div>o</div>
    <div>b</div>
    <div>s</div>
  </h1>

  <div class="main">
    <div class="list" id="list-jobs">
      <div
        *ngFor="let job of jobs"
        class="item"
        [class.hideItem]="job.hideInMobile"
      >
        <div class="wrap" (click)="showJobGallery(job.id)">
          <div class="image">
            <img
              loading="lazy"
              [src]="'../../../assets/jobs/' + job.id + '/cover.png'"
              [alt]="'Job ' + job.name"
            />
          </div>

          <div
            class="text"
            [class.font-size-1]="
              global.accessibilityCurrentFontSize === 'font-size-1'
            "
            [class.font-size-2]="
              global.accessibilityCurrentFontSize === 'font-size-2'
            "
            [class.font-size-3]="
              global.accessibilityCurrentFontSize === 'font-size-3'
            "
          >
            {{ job.name }}
          </div>
        </div>
      </div>
      <!-- end .item -->
    </div>
    <!-- end .list #list-jobs -->

    <div *ngIf="arrows.show" class="arrows">
      <div class="arrow" id="jobs-arrow-left">
        <i
          class="fas fa-arrow-alt-circle-left"
          [class.disabled]="!arrows.left"
          (click)="scrollHorizontalByClick($event, 'left')"
        ></i>
      </div>

      <div class="arrow" id="jobs-arrow-right">
        <i
          class="fas fa-arrow-alt-circle-right"
          [class.disabled]="!arrows.right"
          (click)="scrollHorizontalByClick($event, 'right')"
        ></i>
      </div>
    </div>
  </div>
  <!-- end .main -->
</div>

<div
  *ngFor="let job of jobs"
  class="gallery"
  [class.show]="job.showGallery"
  [id]="'job-' + job.id"
>
  <div class="top">
    <div class="title">
      <div class="text">{{ job.name }}</div>

      <div *ngIf="job.linkURL" class="link">
        <a
          [href]="job.linkURL"
          target="_blank"
          [attr.aria-label]="
            global.lang === 'en' ? job.linkLabel!.en : job.linkLabel!.pt
          "
        >
          <div *ngIf="global.lang === 'en'" lang="en" aria-hidden="true">
            ({{ job.linkText!.en }})
          </div>
          <div *ngIf="global.lang === 'pt'" lang="pt-br" aria-hidden="true">
            ({{ job.linkText!.pt }})
          </div>
        </a>
      </div>
    </div>

    <div class="close" (click)="job.showGallery = false">
      <i class="fas fa-times"></i>
    </div>
  </div>
  <!-- end .top -->

  <div class="main">
    <div
      class="arrow"
      [class.disabled]="galleryArrowLeftDisabled"
      (click)="showPrevNextJobItemGallery($event, job.id, 'prev')"
    >
      <i class="fas fa-chevron-left"></i>
    </div>
    <div
      class="arrow"
      [class.disabled]="galleryArrowRightDisabled"
      (click)="showPrevNextJobItemGallery($event, job.id, 'next')"
    >
      <i class="fas fa-chevron-right"></i>
    </div>

    <div
      *ngFor="let photo of job.photos"
      class="item"
      [class.active]="photo.active"
    >
      <img loading="lazy" [alt]="photo.alt" [src]="photo.src" />
    </div>
  </div>
  <!-- end .main -->

  <div class="bottom">
    <div
      class="arrow"
      [class.disabled]="galleryListArrowLeftDisabled"
      (click)="
        scrollHorizontalGalleryList($event, 'left', 'job-' + job.id + '-list')
      "
    >
      <i class="fas fa-chevron-left"></i>
    </div>

    <div class="list" [id]="'job-' + job.id + '-list'">
      <div
        *ngFor="let thumbnail of job.thumbnails"
        class="item"
        [class.active]="thumbnail.active"
        (click)="activeJobItemGallery(job.id, thumbnail.order)"
      >
        <img loading="lazy" [alt]="thumbnail.alt" [src]="thumbnail.src" />
      </div>
    </div>
    <!-- end.list #job-sistema-pamcard-list -->

    <div
      class="arrow"
      [class.disabled]="galleryListArrowRightDisabled"
      (click)="
        scrollHorizontalGalleryList($event, 'right', 'job-' + job.id + '-list')
      "
    >
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
  <!-- end .bottom -->
</div>
<!-- end .gallery -->
