<div class="content">
  <div class="top">
    <div class="name">Philipi Bovo</div>
    <div class="about">
      <div *ngIf="global.lang === 'en'">
        <p>
          I'm Portuguese and Brazilian, married, {{ yearsOld }} years old,
          residing in Brazil, with availability to work and live in Portugal.
        </p>

        <p>Contact: philipi.bovo@gmail.com</p>
      </div>

      <div *ngIf="global.lang === 'pt'">
        <p>
          Luso-Brasileiro, casado, {{ yearsOld }} anos, residente no Brasil, com
          disponibilidade para atuar e morar em Portugal.
        </p>

        <p>Contato: philipi.bovo@gmail.com</p>
      </div>

      <p>
        Portfolio:
        <a href="https://philipi.bovo.me" target="_blank">
          https://philipi.bovo.me
        </a>
      </p>

      <p>
        Github:
        <a href="http://www.github.com/philipibovo" target="_blank">
          http://www.github.com/philipibovo
        </a>
      </p>
    </div>
  </div>
  <!-- end .top -->

  <div class="section" id="graduate">
    <div class="section-title" *ngIf="global.lang === 'en'">
      University graduate
    </div>
    <div class="section-title" *ngIf="global.lang === 'pt'">
      Formação Academica
    </div>

    <div *ngIf="global.lang === 'en'">
      Bachelor's degree in Computer Science from Universidade Santa Cecíclia -
      UNISANTA - Santos / SP / Brazil - 2009.
    </div>

    <div *ngIf="global.lang === 'pt'">
      Graduado em Bacharelado em Ciência da Computação pela Universidade Santa
      Cecíclia – UNISANTA – Santos/SP/Brasil - 2009.
    </div>
  </div>
  <!-- end .section #graduate -->

  <div class="section" id="qualifications">
    <div class="section-title" *ngIf="global.lang === 'en'">Qualifications</div>
    <div class="section-title" *ngIf="global.lang === 'pt'">Qualificações</div>

    <ul>
      <li>
        <div *ngIf="global.lang === 'en'">
          LGPD (General Data Protection Law): Knowing and understanding your
          impacts (2021 - Alura)
        </div>

        <div *ngIf="global.lang === 'pt'">
          LGPD (Lei Geral de Proteção de Dados): Conhecendo e entendendo seus
          impactos (2021 - Alura)
        </div>
      </li>

      <li>
        SFPC - SCRUM Foundation Professional Certificate (2019 - CertiProf)
      </li>

      <li>
        Bootcamp GoStack - NodeJS, ReactJS e React Native (2019 - Rocketseat)
      </li>

      <li>Javascript ES6 (2019 - Rocketseat)</li>

      <li>CSS3 (2018 - iMedia Brasil)</li>

      <li>JQuery (2015 - HCode Treinamentos)</li>

      <li>Javascript (2015 - HCode Treinamentos)</li>

      <li>JAVA com JSP e JavaBeans (2008 - Tecnoponta)</li>

      <li>
        <div *ngIf="global.lang === 'en'">
          Maintenance of microcomputer (2005 - Aprendata)
        </div>

        <div *ngIf="global.lang === 'pt'">
          Montagem e Manutenção de microcomputador (2005 - Aprendata)
        </div>
      </li>

      <li>
        <div *ngIf="global.lang === 'en'">English (Advanced)</div>
        <div *ngIf="global.lang === 'pt'">Inglês (Avançado)</div>
      </li>
    </ul>
  </div>
  <!-- end .section #qualifications -->

  <div class="section" id="professional">
    <div class="section-title" *ngIf="global.lang === 'en'">
      Professional experience
    </div>
    <div class="section-title" *ngIf="global.lang === 'pt'">
      Experiência Profissional
    </div>

    <ul>
      <li>
        <div *ngIf="global.lang === 'en'">
          <strong> May/2020 (Current) - TQI - From Home </strong>
        </div>

        <div *ngIf="global.lang === 'pt'">
          <strong> Mai/2020 (Atual) - TQI - Remoto </strong>
        </div>

        <ul>
          <li>
            <div *ngIf="global.lang === 'en'">
              Position: Software Engineer (Front-End), responsible for the
              presentation and accessibility of client applications.
            </div>

            <div *ngIf="global.lang === 'pt'">
              Cargo: Engenheiro de software (Front-End), responsável pela
              apresentação e acessibilidade das aplicações dos clientes.
            </div>
          </li>

          <li>
            <div *ngIf="global.lang === 'en'">
              Activities: Front-end development, using HTML5, Angular,
              Single-SPA (micro-frontend), JQuery, CSS3, SASS, Javascript,
              Typescript, Bootstrap, portability system for mobile WEB
              platforms. Integration with systems (APIs) in Restfull.
            </div>

            <div *ngIf="global.lang === 'pt'">
              Atividades: Desenvolvimento Front-End, utilizando HTML5, Angular,
              Single-SPA (micro-frontend), JQuery, CSS3, SASS, Javascript,
              Typescript, Bootstrap, portabilidade do sistema para plataformas
              móveis WEB. Integração com sistemas distribuídos (APIs) em
              Restfull.
            </div>
          </li>
        </ul>
      </li>

      <li>
        <div *ngIf="global.lang === 'en'">
          <strong>
            Dec/2014 to May/2020 - Roadcard - São Paulo/SP/Brazil
          </strong>
        </div>

        <div *ngIf="global.lang === 'pt'">
          <strong>
            Dez/2014 à Mai/2020 - Roadcard - São Paulo/SP/Brasil
          </strong>
        </div>

        <ul>
          <li>
            <div *ngIf="global.lang === 'en'">
              Position: Senior Front-End Developer Analyst, responsible for the
              presentation and accessibility of the Pamcard WEB system.
            </div>

            <div *ngIf="global.lang === 'pt'">
              Cargo: Analista desenvolvedor Front-End Senior, responsável pela
              apresentação e acessibilidade do sistema Pamcard WEB.
            </div>
          </li>

          <li>
            <div *ngIf="global.lang === 'en'">
              Activities: Front-end development, using HTML5, Angular, JQuery,
              CSS3, Javascript, Bootstrap, portability system for mobile WEB
              platforms. Integration with systems (APIs) in Restfull.
            </div>

            <div *ngIf="global.lang === 'pt'">
              Atividades: Desenvolvimento Front-End, utilizando HTML5, Angular,
              JQuery, CSS3, Javascript, Bootstrap, portabilidade do sistema para
              plataformas móveis WEB. Integração com sistemas distribuídos
              (APIs) em Restfull.
            </div>
          </li>
        </ul>
      </li>

      <li>
        <div *ngIf="global.lang === 'en'">
          <strong>
            Dec/2011 to Oct/2014 - Brasit Soluções Inteligentes - São
            Paulo/SP/Brazil
          </strong>
        </div>

        <div *ngIf="global.lang === 'pt'">
          <strong>
            Dez/2011 à Out/2014 – Brasit Soluções Inteligentes - São
            Paulo/SP/Brasil
          </strong>
        </div>

        <ul>
          <li>
            <div *ngIf="global.lang === 'en'">
              Position: Systems Developer Analyst, responsible for front-end,
              visual and user experience.
            </div>

            <div *ngIf="global.lang === 'pt'">
              Cargo: Analista Desenvolvedor de Sistemas Pleno, responsável
              front-end, visual e experiência do usuário.
            </div>
          </li>

          <li>
            <div *ngIf="global.lang === 'en'">
              Activities: WEB development, using ASP, JavaScript, CSS, CSS3,
              JQuery, Bootstrap, Responsive Design, Visual DataFlex 12.1 and SQL
              Server.
            </div>

            <div *ngIf="global.lang === 'pt'">
              Atividades: Desenvolvimento WEB, utilizando ASP, JavaScript, CSS,
              CSS3, JQuery, Bootstrap, Design Responsivo, Visual DataFlex 12.1 e
              SQL Server.
            </div>
          </li>
        </ul>
      </li>

      <li>
        <div *ngIf="global.lang === 'en'">
          <strong>
            Out/2010 to Jul/2011 – Asia Shipping – Santos/SP/Brasil
          </strong>
        </div>

        <div *ngIf="global.lang === 'pt'">
          <strong>
            Out/2010 à Jul/2011 – Asia Shipping – Santos/SP/Brasil
          </strong>
        </div>

        <ul>
          <li>
            <div *ngIf="global.lang === 'en'">Position: Web developer.</div>

            <div *ngIf="global.lang === 'pt'">Cargo: Desenvolvedor WEB.</div>
          </li>

          <li>
            <div *ngIf="global.lang === 'en'">
              Activities: WEB development, Demurrage Billing module, using ASP,
              JavaScript, CSS, JQuery, Visual DataFlex 14.1 and DB2.
            </div>

            <div *ngIf="global.lang === 'pt'">
              Atividades: Desenvolvimento WEB, módulo de Faturamento Demurrage,
              utilizando ASP, JavaScript, CSS, JQuery, Visual DataFlex 14.1 e
              DB2.
            </div>
          </li>
        </ul>
      </li>

      <li>
        <div *ngIf="global.lang === 'en'">
          <strong>
            Jul/2009 to Oct/2010 – AGV Logística – Vinhedo/SP/Brasil
          </strong>
        </div>

        <div *ngIf="global.lang === 'pt'">
          <strong>
            Jul/2009 à Out/2010 – AGV Logística – Vinhedo/SP/Brasil
          </strong>
        </div>

        <ul>
          <li>
            <div *ngIf="global.lang === 'en'">
              Position: Systems Developer Analyst.
            </div>

            <div *ngIf="global.lang === 'pt'">
              Cargo: Analista Desenvolvedor de Sistemas.
            </div>
          </li>

          <li>
            <div *ngIf="global.lang === 'en'">
              Activities: Desktop development in Microsoft environment for large
              WMS system, using Visual DataFlex 9 and Crystal Reports 9.
            </div>

            <div *ngIf="global.lang === 'pt'">
              Atividades: Desenvolvimento Desktop em ambiente Microsoft para
              sistema de WMS de grande porte, utilizando Visual DataFlex 9 e
              Crystal Reports 9.
            </div>
          </li>
        </ul>
      </li>

      <li>
        <div *ngIf="global.lang === 'en'">
          <strong>
            Dec/2008 to Jun/2009 – Asia Shipping – Santos/SP/Brasil
          </strong>
        </div>

        <div *ngIf="global.lang === 'pt'">
          <strong>
            Dez/2008 à Jun/2009 – Asia Shipping – Santos/SP/Brasil
          </strong>
        </div>

        <ul>
          <li>
            <div *ngIf="global.lang === 'en'">Position: Web developer.</div>

            <div *ngIf="global.lang === 'pt'">Cargo: Desenvolvedor WEB.</div>
          </li>

          <li>
            <div *ngIf="global.lang === 'en'">
              Activities: Activities: Development in WEB environment for import
              and export system, using ASP, JavaScript, CSS, JQuery and DataFlex
              14.1.
            </div>

            <div *ngIf="global.lang === 'pt'">
              Atividades: Atividades: Desenvolvimento em ambiente WEB para
              sistema de importação e Exportação, utilizando ASP, JavaScript,
              CSS, JQuery e DataFlex 14.1.
            </div>
          </li>
        </ul>
      </li>

      <li>
        <div *ngIf="global.lang === 'en'">
          <strong>
            May/2005 to Out/2008 – Iron Internet – Santos/SP/Brasil
          </strong>
        </div>

        <div *ngIf="global.lang === 'pt'">
          <strong>
            Mai/2005 à Out/2008 – Iron Internet – Santos/SP/Brasil
          </strong>
        </div>

        <ul>
          <li>
            <div *ngIf="global.lang === 'en'">
              Position: Communication Analyst.
            </div>

            <div *ngIf="global.lang === 'pt'">
              Cargo: Analista de Comunicação.
            </div>
          </li>

          <li>
            <div *ngIf="global.lang === 'en'">
              Activities: Activities: Coordination of large wireless network.
              Responsible for: Wireless internet product for Business and
              Residential customers, Wireless network maintenance team
              coordinator.
            </div>

            <div *ngIf="global.lang === 'pt'">
              Atividades: Atividades: Coordenação de rede wireless de grande
              porte. Responsável por: Produto de internet wireless para clientes
              Empresariais e Residenciais, Coordenador de equipe de manutenção
              de rede wireless.
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- end .section #professional -->

  <div class="section" id="projects">
    <div class="section-title" *ngIf="global.lang === 'en'">Projects</div>
    <div class="section-title" *ngIf="global.lang === 'pt'">Projetos</div>

    <ul>
      <li>
        <div>
          <strong>Limoney</strong>
        </div>

        <div *ngIf="global.lang === 'en'">
          Limoney is an app that helps you take care of your financial health,
          with the front built in Angular (Web) and Flutter (Mobile), consuming
          Restfull API, you can access your data and control your spending both
          the computer and the smartphone.
        </div>

        <div *ngIf="global.lang === 'pt'">
          Limoney é um app que te ajuda a cuidar da sua saúde financeira, com o
          front construído em Angular (Web) e em Flutter (Mobile), consumindo
          API Restfull, é possível acessar seus dados e controlar seus gastos
          tanto do computador como do celular.
        </div>

        <div>
          Website:
          <a href="https://limoney.app" target="_blank">
            https://limoney.app
          </a>
        </div>
      </li>

      <li>
        <div>
          <strong>PompeiJS</strong>
        </div>

        <div *ngIf="global.lang === 'en'">
          PompeiJS is a JQuery / CSS library that automatically calculates and
          adapts to the screen size, handling responsiveness at run time. This
          project was born from the need to create HTML pages for Smart TV
          browsers, which for the most part do not support HTML5 and CSS3.
        </div>

        <div *ngIf="global.lang === 'pt'">
          PompeiJS é uma biblioteca JQuery/CSS que calcula e se adapta
          automaticamente ao tamanho da tela, tratando a responsividade em tempo
          de execução. Esse projeto nasceu da necessidade de criar páginas HTML
          para navegadores de Smart TVs, que em sua maioria não dão suporte a
          HTML5 e CSS3.
        </div>

        <div>
          Website:
          <a href="https://philipi.bovo.me/pompeijs/" target="_blank">
            https://philipi.bovo.me/pompeijs/
          </a>
        </div>
      </li>

      <li>
        <div>
          <strong>TivoliJS</strong>
        </div>

        <div *ngIf="global.lang === 'en'">
          TivoliJS is a JQuery / CSS3 / HTML5 library created to meet the main
          functionalities of an HTML form, presenting a pleasant and usual look
          for web systems. It includes the function for validating HTML forms at
          run time, without the need to reload the screen.
        </div>

        <div *ngIf="global.lang === 'pt'">
          TivoliJS é uma biblioteca JQuery/CSS3/HTML5 criada para atender as
          principais funcionalidades de um formulário HTML, apresentando um
          visual agradável e usual para sistemas web. Inclui a função para
          validação de de formulários HTML em tempo de execução, sem a
          necessidade de recarregar a tela.
        </div>

        <div>
          Website:
          <a href="https://philipi.bovo.me/tivolijs/" target="_blank">
            https://philipi.bovo.me/tivolijs/
          </a>
        </div>
      </li>

      <li>
        <div>
          <strong>NavonaJS</strong>
        </div>

        <div *ngIf="global.lang === 'en'">
          NaovnaJS is a JQuery / CSS3 gallery for displaying photos and images
          from responsive and elegant way.
        </div>

        <div *ngIf="global.lang === 'pt'">
          NaovnaJS é uma galeria JQuery/CSS3 para exibição de fotos e imagens de
          forma responsiva e elegante.
        </div>

        <div>
          Website:
          <a href="https://philipi.bovo.me/navonajs/" target="_blank">
            https://philipi.bovo.me/navonajs/
          </a>
        </div>
      </li>
    </ul>
  </div>
  <!-- end .section #projects -->

  <div class="bottom no-print">
    <img src="../../../assets/logo/logo-black.png" alt="" />
  </div>
</div>
