<div class="content">
  <!-- .title -->
  <h1 class="title">
    <div *ngIf="global.lang === 'en'">Languages &</div>
    <div *ngIf="global.lang === 'en'">Tools</div>

    <div *ngIf="global.lang === 'pt'">Linguages &</div>
    <div *ngIf="global.lang === 'pt'">Ferramentas</div>
  </h1>
  <!-- end .title -->

  <!-- .main -->
  <div class="main">
    <div class="column">
      <div class="item">
        <div>
          <img
            src="../../../assets/tools/javascript.png"
            alt="Logotipo Javascript"
          />
        </div>

        <div
          [class.font-size-1]="
            global.accessibilityCurrentFontSize === 'font-size-1'
          "
          [class.font-size-2]="
            global.accessibilityCurrentFontSize === 'font-size-2'
          "
          [class.font-size-3]="
            global.accessibilityCurrentFontSize === 'font-size-3'
          "
        >
          Javascript
        </div>
      </div>

      <div class="item">
        <div>
          <img src="../../../assets/tools/css3.png" alt="Logotipo CSS 3" />
        </div>

        <div
          [class.font-size-1]="
            global.accessibilityCurrentFontSize === 'font-size-1'
          "
          [class.font-size-2]="
            global.accessibilityCurrentFontSize === 'font-size-2'
          "
          [class.font-size-3]="
            global.accessibilityCurrentFontSize === 'font-size-3'
          "
        >
          CSS 3
        </div>
      </div>
    </div>

    <div class="column">
      <div class="item">
        <div>
          <img
            src="../../../assets/tools/typescript.png"
            alt="Logotipo Typescript"
          />
        </div>

        <div
          [class.font-size-1]="
            global.accessibilityCurrentFontSize === 'font-size-1'
          "
          [class.font-size-2]="
            global.accessibilityCurrentFontSize === 'font-size-2'
          "
          [class.font-size-3]="
            global.accessibilityCurrentFontSize === 'font-size-3'
          "
        >
          Typescript
        </div>
      </div>

      <div class="item">
        <div>
          <img src="../../../assets/tools/angular.png" alt="Logotipo Angular" />
        </div>

        <div
          [class.font-size-1]="
            global.accessibilityCurrentFontSize === 'font-size-1'
          "
          [class.font-size-2]="
            global.accessibilityCurrentFontSize === 'font-size-2'
          "
          [class.font-size-3]="
            global.accessibilityCurrentFontSize === 'font-size-3'
          "
        >
          Angular
        </div>
      </div>
    </div>

    <div class="column">
      <div class="item">
        <div>
          <img src="../../../assets/tools/html5.png" alt="Logotipo HTML 5" />
        </div>

        <div
          [class.font-size-1]="
            global.accessibilityCurrentFontSize === 'font-size-1'
          "
          [class.font-size-2]="
            global.accessibilityCurrentFontSize === 'font-size-2'
          "
          [class.font-size-3]="
            global.accessibilityCurrentFontSize === 'font-size-3'
          "
        >
          HTML 5
        </div>
      </div>

      <div class="item">
        <div>
          <img
            src="../../../assets/tools/single-spa.png"
            alt="Logotipo Single SPA"
          />
        </div>

        <div
          [class.font-size-1]="
            global.accessibilityCurrentFontSize === 'font-size-1'
          "
          [class.font-size-2]="
            global.accessibilityCurrentFontSize === 'font-size-2'
          "
          [class.font-size-3]="
            global.accessibilityCurrentFontSize === 'font-size-3'
          "
        >
          Single-SPA
        </div>
        <div
          [class.font-size-1]="
            global.accessibilityCurrentFontSize === 'font-size-1'
          "
          [class.font-size-2]="
            global.accessibilityCurrentFontSize === 'font-size-2'
          "
          [class.font-size-3]="
            global.accessibilityCurrentFontSize === 'font-size-3'
          "
        >
          Micro frontend
        </div>
      </div>
    </div>
  </div>
  <!-- end .main -->
</div>
