<div class="content">
  <!-- .title -->
  <div class="title">
    <div *ngIf="global.lang === 'en'">Languages &</div>
    <div *ngIf="global.lang === 'en'">Tools</div>

    <div *ngIf="global.lang === 'pt'">Linguages &</div>
    <div *ngIf="global.lang === 'pt'">Ferramentas</div>
  </div>
  <!-- end .title -->

  <!-- .main -->
  <div class="main">
    <div class="column">
      <div class="item">
        <div>
          <img
            src="../../../assets/tools/javascript.png"
            alt="Logo Javascript"
          />
        </div>

        <div>Javascript</div>
      </div>

      <div class="item">
        <div>
          <img src="../../../assets/tools/css3.png" alt="Logo CSS3" />
        </div>

        <div>CSS 3</div>
      </div>
    </div>

    <div class="column">
      <div class="item">
        <div>
          <img
            src="../../../assets/tools/typescript.png"
            alt="Logo Typescript"
          />
        </div>

        <div>Typescript</div>
      </div>

      <div class="item">
        <div>
          <img src="../../../assets/tools/angular.png" alt="Logo Angular" />
        </div>

        <div>Angular</div>
      </div>
    </div>

    <div class="column">
      <div class="item">
        <div>
          <img src="../../../assets/tools/html5.png" alt="Logo HTML5" />
        </div>

        <div>HTML 5</div>
      </div>

      <div class="item">
        <div>
          <img
            src="../../../assets/tools/single-spa.png"
            alt="Logo Single-SPA"
          />
        </div>

        <div>Single-SPA</div>
        <div>Micro frontend</div>
      </div>
    </div>
  </div>
  <!-- end .main -->
</div>
