<div class="content">
  <div class="title">
    <div *ngIf="global.lang === 'en'">Projects</div>
    <div *ngIf="global.lang === 'pt'">Projetos</div>
  </div>

  <div class="main">
    <div class="item" id="project-limoney">
      <div *ngIf="global.isDesktop" class="image">
        <img
          src="../../../assets/projects/limoney.png"
          alt="Logotipo Limoney"
        />
      </div>

      <div *ngIf="global.isMobile" class="image">
        <img
          src="../../../assets/projects/limoney-transparent.png"
          alt="Logo Limoney"
        />
      </div>

      <div class="wrap">
        <div class="name">Limoney</div>

        <div class="text">
          <div *ngIf="global.lang === 'en'">
            Personal financial management assistance app. (Under development)
          </div>

          <div *ngIf="global.lang === 'pt'">
            App de auxílio de gestão financeira pessoal. (Em desenvolvimento)
          </div>
        </div>

        <div class="link">
          <a
            href="https://limoney.app"
            target="_blank"
            [attr.aria-label]="
              global.lang === 'en'
                ? 'Visit Limoney'
                : 'Saiba mais sobre Limoney'
            "
          >
            <div *ngIf="global.lang === 'en'" aria-hidden="true">Visit</div>
            <div *ngIf="global.lang === 'pt'" aria-hidden="true">
              Saiba mais
            </div>
          </a>
        </div>
      </div>
      <!-- end .wrap -->
    </div>
    <!-- end #project-limoney -->

    <div class="item" id="project-pompeijs">
      <div *ngIf="global.isDesktop" class="image">
        <img
          src="../../../assets/projects/pompeijs.png"
          alt="Logotipo Pompei JS"
        />
      </div>

      <div *ngIf="global.isMobile" class="image">
        <img
          src="../../../assets/projects/pompeijs-transparent.png"
          alt="Logo PompeiJS"
        />
      </div>

      <div class="wrap">
        <div class="name">pompei.js</div>

        <div class="text">
          <div *ngIf="global.lang === 'en'">
            CSS / JQuery library for creating responsive layouts based on rows
            and columns.
          </div>

          <div *ngIf="global.lang === 'pt'">
            Biblioteca CSS/JQuery para criar layouts responsívos baseados em
            linhas e colunas.
          </div>
        </div>

        <div class="link">
          <a
            href="https://philipi.bovo.me/pompeijs/"
            target="_blank"
            [attr.aria-label]="
              global.lang === 'en'
                ? 'Visit Pompei JS'
                : 'Saiba mais sobre Pompei JS'
            "
          >
            <div *ngIf="global.lang === 'en'" aria-hidden="true">Visit</div>
            <div *ngIf="global.lang === 'pt'" aria-hidden="true">
              Saiba mais
            </div>
          </a>
        </div>
      </div>
      <!-- end .wrap -->
    </div>
    <!-- end #project-pompeijs -->

    <div class="item" id="project-tivolijs">
      <div *ngIf="global.isDesktop" class="image">
        <img
          src="../../../assets/projects/tivolijs.png"
          alt="Logotipo Tivoli JS"
        />
      </div>

      <div *ngIf="global.isMobile" class="image">
        <img
          src="../../../assets/projects/tivolijs-transparent.png"
          alt="Logo TivoliJS"
        />
      </div>

      <div class="wrap">
        <div class="name">tivoli.js</div>

        <div class="text">
          <div *ngIf="global.lang === 'en'">
            CSS / JQuery library to facilitate the use of forms on pages HTML.
          </div>

          <div *ngIf="global.lang === 'pt'">
            Biblioteca CSS/JQuery para facilitar o uso de formulários em páginas
            HTML.
          </div>
        </div>

        <div class="link">
          <a
            href="https://philipi.bovo.me/tivolijs/"
            target="_blank"
            [attr.aria-label]="
              global.lang === 'en'
                ? 'Visit Tivoli JS'
                : 'Saiba mais sobre Tivoli JS'
            "
          >
            <div *ngIf="global.lang === 'en'" aria-hidden="true">Visit</div>
            <div *ngIf="global.lang === 'pt'" aria-hidden="true">
              Saiba mais
            </div>
          </a>
        </div>
      </div>
      <!-- end .wrap -->
    </div>
    <!-- end #project-tivolijs -->

    <div class="item" id="project-navonajs">
      <div *ngIf="global.isDesktop" class="image">
        <img
          src="../../../assets/projects/navonajs.png"
          alt="Logotipo Navona JS"
        />
      </div>

      <div *ngIf="global.isMobile" class="image">
        <img
          src="../../../assets/projects/navonajs-transparent.png"
          alt="Logo NavonaJS"
        />
      </div>

      <div class="wrap">
        <div class="name">navona.js</div>

        <div class="text">
          <div *ngIf="global.lang === 'en'">
            CSS / JQuery photo gallery elegant and easy to use.
          </div>

          <div *ngIf="global.lang === 'pt'">
            Galeria de fotos CSS/JQuery elegante e fácil de usar.
          </div>
        </div>

        <div class="link">
          <a
            href="https://philipi.bovo.me/navonajs/"
            target="_blank"
            [attr.aria-label]="
              global.lang === 'en'
                ? 'Visit Navona JS'
                : 'Saiba mais sobre Navona JS'
            "
          >
            <div *ngIf="global.lang === 'en'" aria-hidden="true">Visit</div>
            <div *ngIf="global.lang === 'pt'" aria-hidden="true">
              Saiba mais
            </div>
          </a>
        </div>
      </div>
      <!-- end .wrap -->
    </div>
    <!-- end #project-navonajs -->
  </div>
</div>
