html {
  scroll-behavior: smooth;
}

body {
  background-attachment: fixed;
  overflow: hidden;
  // body.theme-high-contrast
  &.theme-high-contrast {
    background: #000000;
  }
  // body.theme-original
  &.theme-original {
    background: url('../../../assets/bg/bg-body.png');
  }
}

section {
  width: 100%;
  height: 100%;
}

// Accessibility
#accessibility-label {
  position: fixed;
  left: -52px;
  top: 85px;
  height: 50px;
  width: 50px;
  font-size: 30px;
  border-radius: 0 10px 10px 0;
  border-left: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition-delay: 150ms;
  animation: accessibility-out 150ms both;
  z-index: 2147483644;
  // #accessibility-label.show
  &.show {
    left: -2px;
    animation: accessibility-in 300ms both;
  }
  // #accessibility-label.theme-high-contrast
  &.theme-high-contrast {
    color: #ffffff;
    background: #000000;
    border: 2px solid #ffffff;
    outline: 2px solid #000;
  }
  // #accessibility-label.theme-original
  &.theme-original {
    color: #ffffff;
    background: #0073ff;
    border: 2px solid #ffffff;
    outline: 2px solid #0073ff;
  }
}

#accessibility-options {
  position: fixed;
  top: 80px;
  left: -478px;
  width: 476px;
  border-radius: 0 10px 10px 0;
  border-left: none;
  transition-delay: 150ms;
  animation: accessibility-out 150ms both;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  z-index: 2147483646;
  // #accessibility-options.show
  &.show {
    left: -6px;
    animation: accessibility-in 300ms both;
  }
  // #accessibility-options > .title
  > .title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    > h1 {
      font-size: 1.5rem;
    }
  }
  // #accessibility-options > .content
  > .content {
    height: 100%;
    width: 100%;
    border-left: none;
    border-radius: 0 0 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    > .list {
      margin: 10px;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      > .item {
        height: 110px;
        width: 132px;
        padding: 20px;
        border-radius: 10px;
        margin: 0 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &.active {
          cursor: default;
          &:hover {
            box-shadow: none;
          }
        }
        > .icon {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 5px;
        }
        > .text {
          text-align: center;
        }
      }
    }
  }
  // #accessibility-options.theme-high-contrast
  &.theme-high-contrast {
    color: #ffffff;
    background: #000000;
    border: 2px solid #ffffff;
    outline: 2px solid #000000;
    // #accessibility-options.theme-high-contrast > .content
    > .title {
      border-bottom: 1px solid #ffffff;
    }
    // #accessibility-options.theme-high-contrast > .content
    > .content {
      border: 5px solid #000000;
      background: #000000;
      color: #ffffff;
      // #accessibility-options.theme-high-contrast > .content > .list
      > .list {
        // #accessibility-options.theme-high-contrast > .content > .list > .item
        > .item {
          background: #000000;
          border: 1px solid #ffffff;
          // #accessibility-options.theme-high-contrast > .content > .list > .item.active
          &.active {
            background: #ffffff;
            border: none;
            color: #000000;
            // #accessibility-options.theme-high-contrast > .content > .list > .item:hover
          }
          &:hover {
            border: 3px solid #ffffff;
          }
        }
      }
    }
  }
  // #accessibility-options.theme-original
  &.theme-original {
    color: #ffffff;
    background: #0073ff;
    border: 2px solid #ffffff;
    outline: 2px solid #0073ff;
    // #accessibility-options.theme-original > .content
    > .content {
      border: 5px solid #0073ff;
      background: #fff;
      color: #333;
      // #accessibility-options.theme-original > .content > .list
      > .list {
        // #accessibility-options.theme-original > .content > .list > .item
        > .item {
          background: #efefef;
          // #accessibility-options.theme-original > .content > .list > .item.active
          &.active {
            background: #d3e6ff;
            border: 1px solid #0073ff;
            // #accessibility-options.theme-original > .content > .list > .item:hover
          }
          &:hover {
            box-shadow: 0 0 10px 5px rgba(0, 115, 255, 0.3);
          }
        }
      }
    }
  }
}

#accessibility-click-off {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: opacity 400ms;
  background: rgba(0, 0, 0, 0.7);
  z-index: -2147483645;
  // #accessibility-click-off.show
  &.show {
    opacity: 1;
    transition: opacity 400ms;
    z-index: 2147483645;
  }
}
// end Accessibility

// Arrows Navigation
#arrow-page-up {
  position: fixed;
  width: 60px;
  height: 10px;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  z-index: 99;
  // #arrow-page-up.light
  &.light {
    // #arrow-page-up.light > div
    > div {
      // #arrow-page-up.light > div:nth-child(1)
      &:nth-child(1) {
        // #arrow-page-up.light > div:nth-child(1) > div
        > div {
          background: #f7f7f7;
        }
      }
      // #arrow-page-down.up > div:nth-child(2)
      &:nth-child(2) {
        // #arrow-page-down.up > div:nth-child(2) > div
        > div {
          background: #f7f7f7;
        }
      }
      // #arrow-page-down.up > div:nth-child(3)
      &:nth-child(3) {
        // #arrow-page-down.up > div:nth-child(3) > div
        > div {
          background: #f7f7f7;
        }
      }
    }
  }
  // #arrow-page-down.up
  &.dark {
    // #arrow-page-down.up > div
    > div {
      // #arrow-page-down.up > div:nth-child(1)
      &:nth-child(1) {
        // #arrow-page-down.up > div:nth-child(1) > div
        > div {
          background: #333333;
        }
      }
      // #arrow-page-down.up > div:nth-child(2)
      &:nth-child(2) {
        // #arrow-page-down.up > div:nth-child(2) > div
        > div {
          background: #333333;
        }
      }
      // #arrow-page-down.up > div:nth-child(3)
      &:nth-child(3) {
        // #arrow-page-down.up > div:nth-child(3) > div
        > div {
          background: #333333;
        }
      }
    }
  }
  // #arrow-page-up > div
  > div {
    position: relative;
    height: 50%;
    // #arrow-page-up > div::nth-child(1)
    &:nth-child(1) {
      // #arrow-page-up > div::nth-child(1) > div
      > div {
        width: 30px;
        height: 1px;
        opacity: 0;
        animation: arrowsAnimation 2s 0.5s ease-in-out infinite;
        // #arrow-page-up > div::nth-child(1) > div:first-child
        &:first-child {
          transform: rotate(-20deg);
        }
        // #arrow-page-up > div::nth-child(1) > div:last-child
        &:last-child {
          transform: rotate(20deg);
          margin: -1px 0 0 29px;
        }
      }
    }
    // #arrow-page-up > div:nth-child(2)
    &:nth-child(2) {
      // #arrow-page-up > div:nth-child(2) > div
      > div {
        width: 30px;
        height: 1px;
        opacity: 0;
        animation: arrowsAnimation 2s 0.25s ease-in-out infinite;
        // #arrow-page-up > div:nth-child(2) > div:first-child
        &:first-child {
          transform: rotate(-20deg);
        }
        // #arrow-page-up > div:nth-child(2) > div:last-child
        &:last-child {
          transform: rotate(20deg);
          margin: -1px 0 0 29px;
        }
      }
    }
    // #arrow-page-up > div:nth-child(2)
    &:nth-child(3) {
      // #arrow-page-up > div:nth-child(3) > div
      > div {
        width: 30px;
        height: 1px;
        opacity: 1;
        animation: arrowsAnimation 2s 0s ease-in-out infinite;
        // #arrow-page-up > div:nth-child(3) > div:first-child
        &:first-child {
          transform: rotate(-20deg);
        }
        // #arrow-page-up > div:nth-child(3) > div:last-child
        &:last-child {
          transform: rotate(20deg);
          margin: -1px 0 0 29px;
        }
      }
    }
  }
}

#arrow-page-down {
  position: fixed;
  width: 60px;
  height: 10px;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  z-index: 99;
  // #arrow-page-down.light
  &.light {
    // #arrow-page-down.light > div
    > div {
      // #arrow-page-down.light > div:nth-child(1)
      &:nth-child(1) {
        // #arrow-page-down.light > div:nth-child(1) > div
        > div {
          background: #f7f7f7;
        }
      }
      // #arrow-page-down.light > div:nth-child(2)
      &:nth-child(2) {
        // #arrow-page-down.light > div:nth-child(2) > div
        > div {
          background: #f7f7f7;
        }
      }
      // #arrow-page-down.light > div:nth-child(3)
      &:nth-child(3) {
        // #arrow-page-down.light > div:nth-child(3) > div
        > div {
          background: #f7f7f7;
        }
      }
    }
  }
  // #arrow-page-down.dark
  &.dark {
    // #arrow-page-down.dark > div
    > div {
      // #arrow-page-down.dark > div:nth-child(1)
      &:nth-child(1) {
        // #arrow-page-down.dark > div:nth-child(1) > div
        > div {
          background: #333333;
        }
      }
      // #arrow-page-down.dark > div:nth-child(2)
      &:nth-child(2) {
        // #arrow-page-down.dark > div:nth-child(2) > div
        > div {
          background: #333333;
        }
      }
      // #arrow-page-down.dark > div:nth-child(3)
      &:nth-child(3) {
        // #arrow-page-down.dark > div:nth-child(3) > div
        > div {
          background: #333333;
        }
      }
    }
  }
  // #arrow-page-down > div
  > div {
    position: relative;
    height: 50%;
    // #arrow-page-down > div::nth-child(1)
    &:nth-child(1) {
      // #arrow-page-down > div::nth-child(1) > div
      > div {
        width: 30px;
        height: 1px;
        opacity: 1;
        animation: arrowsAnimation 2s 0s ease-in-out infinite;
        // #arrow-page-down > div::nth-child(1) > div:first-child
        &:first-child {
          transform: rotate(-160deg);
        }
        // #arrow-page-down > div::nth-child(1) > div:last-child
        &:last-child {
          transform: rotate(160deg);
          margin: -1px 0 0 29px;
        }
      }
    }
    // #arrow-page-down > div:nth-child(2)
    &:nth-child(2) {
      // #arrow-page-down > div:nth-child(2) > div
      > div {
        width: 30px;
        height: 1px;
        opacity: 0;
        animation: arrowsAnimation 2s 0.25s ease-in-out infinite;
        // #arrow-page-down > div:nth-child(2) > div:first-child
        &:first-child {
          transform: rotate(-160deg);
        }
        // #arrow-page-down > div:nth-child(2) > div:last-child
        &:last-child {
          transform: rotate(160deg);
          margin: -1px 0 0 29px;
        }
      }
    }
    // #arrow-page-down > div:nth-child(2)
    &:nth-child(3) {
      // #arrow-page-down > div:nth-child(3) > div
      > div {
        width: 30px;
        height: 1px;
        opacity: 0;
        animation: arrowsAnimation 2s 0.5s ease-in-out infinite;
        // #arrow-page-down > div:nth-child(3) > div:first-child
        &:first-child {
          transform: rotate(-160deg);
        }
        // #arrow-page-down > div:nth-child(3) > div:last-child
        &:last-child {
          transform: rotate(160deg);
          margin: -1px 0 0 29px;
        }
      }
    }
  }
}
// end Arrows Navigation

// Lang Options
#lang-options {
  position: fixed;
  bottom: 10px;
  left: 15px;
  z-index: 200;
  // #lang-options > .lang-icon
  > .lang-icon {
    color: #f7f7f7;
    cursor: pointer;
    transition: all 300ms;
    // #lang-options > .lang-icon.font-size-1
    &.font-size-1 {
      // #lang-options > .lang-icon.font-size-1 > img
      > img {
        width: 30px;
      }
    }
    // #lang-options > .lang-icon.font-size-2
    &.font-size-2 {
      // #lang-options > .lang-icon.font-size-2 > img
      > img {
        width: 40px;
      }
    }
    // #lang-options > .lang-icon.font-size-3
    &.font-size-3 {
      // #lang-options > .lang-icon.font-size-3 > img
      > img {
        width: 50px;
      }
    }
    // #lang-options > .lang-icon:hover
    &:hover {
      transform: scale(1.5);
      transition: all 300ms;
    }
    > img {
      filter: grayscale(100%);
      transition: all 300ms;
    }
    // #lang-options > .lang-icon.light > a
    > a {
      &:link,
      &:active,
      &:visited,
      &:hover {
        color: #f7f7f7 !important;
        text-decoration: none;
      }
    }
  }
}
// end Lang Options

#about {
  // #about .email
  .email {
    width: 100%;
    height: 30px;
    padding: 5px 20px;
    text-align: right;
    color: #f7f7f7;
  }
  // #about .content
  .content {
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f7f7f7;
    // #about .content > .logo
    > .logo {
      margin: 20px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      // #about .content > .logo > .image
      > .image {
        margin-right: 20px;
        // #about .content > .logo > .image.font-size-1
        &.font-size-1 {
          // #about .content > .logo > .image.font-size-3 > img
          > img {
            width: 150px;
          }
        }
        // #about .content > .logo > .image.font-size-2
        &.font-size-2 {
          // #about .content > .logo > .image.font-size-3 > img
          > img {
            width: 170px;
          }
        }
        // #about .content > .logo > .image.font-size-3
        &.font-size-3 {
          // #about .content > .logo > .image.font-size-3 > img
          > img {
            width: 190px;
          }
        }
      }
      // #about .content > .logo > .text
      > .text {
        font-weight: 300;
        cursor: default;
        // #about .content > .logo > .text.font-size-1
        &.font-size-1 {
          font-size: 3.9rem;
        }
        // #about .content > .logo > .text.font-size-2
        &.font-size-2 {
          font-size: 4.5rem;
        }
        // #about .content > .logo > .text.font-size-3
        &.font-size-3 {
          font-size: 5rem;
        }
      }
    }
    // #about .content > .social
    > .social {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      z-index: 99;
      // #about .content > .social > .social-icon
      > .social-icon {
        margin: 10px 0;
        font-size: 1.5rem;
        cursor: pointer;
        transition: all 300ms;
        // #about .content > .social > .social-icon.font-size-1
        &.font-size-1 {
          font-size: 1.5rem;
        }
        // #about .content > .social > .social-icon.font-size-2
        &.font-size-2 {
          font-size: 2rem;
        }
        // #about .content > .social > .social-icon.font-size-3
        &.font-size-3 {
          font-size: 2.5rem;
        }
        // #about .content > .social > .social-icon:hover
        &:hover {
          transform: scale(1.5);
          transition: all 300ms;
        }
        &#icon-npm {
          &.font-size-1 {
            font-size: 2.2rem;
          }
          // #about .content > .social > .social-icon#icon-npm.font-size-2
          &.font-size-2 {
            font-size: 2.7rem;
          }
          // #about .content > .social > .social-icon#icon-npm.font-size-3
          &.font-size-3 {
            font-size: 3.2rem;
          }
        }
        // #about .content > .social > .social-icon.light
        &.light {
          color: #f7f7f7;
          // #about .content > .social > .social-icon.light > a
          > a {
            &:link,
            &:active,
            &:visited,
            &:hover {
              color: #f7f7f7 !important;
              text-decoration: none;
            }
          }
        }
        // #about .content > .social > .social-icon.dark
        &.dark {
          color: #333333;
          // #about .content > .social > .social-icon.dark > a
          > a {
            &:link,
            &:active,
            &:visited,
            &:hover {
              color: #333333;
              text-decoration: none;
            }
          }
        }
      }
      // #about .content > .social > #icon-lang
      > #icon-lang {
        margin: 2px 0 0 10px;
        transition: all 300ms;
        // #about .content > .social > #icon-lang.font-size-1
        &.font-size-1 {
          // #about .content > .social > #icon-lang.font-size-1 > img
          > img {
            width: 26px;
          }
        }
        // #about .content > .social > #icon-lang.font-size-2
        &.font-size-2 {
          // #about .content > .social > #icon-lang.font-size-2 > img
          > img {
            width: 32px;
          }
        }
        // #about .content > .social > #icon-lang.font-size-3
        &.font-size-3 {
          // #about .content > .social > #icon-lang.font-size-3 > img
          > img {
            width: 42px;
          }
        }
        > img {
          filter: grayscale(100%);
          transition: all 300ms;
        }
        // #about .content > .social >  #icon-lang:hover
        &:hover {
          transform: scale(1.5);
          transition: all 500ms;
        }
      }
      // #about .content > .social.vFixed
      &.vFixed {
        position: fixed;
        top: 50%;
        transform: translate(0, -50%);
        right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 300ms;
        // #about .content > .social.vFixed > .social-icon
        > .social-icon {
          margin: 10px;
          transition: all 300ms;
        }
        // #about .content > .social.vFixed > #icon-lang
        > #icon-lang {
          margin: 10px 0 0 0;
          transition: all 300ms;
        }
      }
      // #about .content > .social.vFixed2
      &.vFixed2 {
        position: fixed;
        bottom: 40px;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: all 300ms;
        // #about .content > .social.vFixed2 > .social-icon
        > .social-icon {
          margin: 10px;
          transition: all 300ms;
        }
        // #about .content > .social.vFixed > #icon-lang
        > #icon-lang {
          margin: 2px 0 0 10px;
          transition: all 300ms;
        }
      }
    }
    // #about .content > .main
    > .main {
      margin: 50px 0 30px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // #about .content > .main > .item
      > .item {
        margin: 20px 0;
        width: calc(80% - 100px);
        text-align: center;
        // #about .content > .main > .item.first
        &.first {
          // #about .content > .main > .item.first > .title
          > .title {
            font-weight: 100;
            transition: all 300ms;
            // #about .content > .main > .item.first > .title.font-size-1
            &.font-size-1 {
              font-size: 2.3rem;
            }
            // #about .content > .main > .item.first > .title.font-size-2
            &.font-size-2 {
              font-size: 2.6rem;
            }
            // #about .content > .main > .item.first > .title.font-size-3
            &.font-size-3 {
              font-size: 3rem;
            }
          }
          // #about .content > .main > .item.first > .subtitle
          > .subtitle {
            font-size: 1.3rem;
            font-weight: 100;
            transition: all 300ms;
            // #about .content > .main > .item.first > .subtitle.font-size-1
            &.font-size-1 {
              font-size: 1.3rem;
            }
            // #about .content > .main > .item.first > .subtitle.font-size-2
            &.font-size-2 {
              font-size: 1.6rem;
            }
            // #about .content > .main > .item.first > .subtitle.font-size-3
            &.font-size-3 {
              font-size: 2rem;
            }
          }
        }
        // #about .content > .main > .item.second
        &.second {
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }
  // #about.active
  &.active {
    // #about.active .content
    .content {
      // #about.active .content > .social
      > .social {
        // #about.active .content > .social > .social-icon
        > .social-icon {
          margin: 10px;
          transition: all 300ms;
        }
      }
    }
  }
  // #about.theme-high-contrast
  &.theme-high-contrast {
    background: #000000;
    // #about.theme-high-contrast .content
    .content {
      // #about.theme-high-contrast .content > .main
      > .main {
        // #about.theme-high-contrast .content > .main > .item
        > .item {
          // #about.theme-high-contrast .content > .main > .item.first
          &.first {
            // #about.theme-high-contrast .content > .main > .item.first > .title
            > .title {
              font-weight: normal;
            }
            // #about.theme-high-contrast .content > .main > .item.first > .subtitle
            > .subtitle {
              font-weight: normal;
            }
          }
        }
      }
    }
  }
  // #about.theme-original
  &.theme-original {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    // #about.theme-original .content
    .content {
      // #about.theme-original .content > .main
      > .main {
        // #about.theme-original .content > .main > .item
        > .item {
          // #about.theme-original .content > .main > .item.first
          &.first {
            // #about.theme-original .content > .main > .item.first > .title
            > .title {
              font-weight: 100;
            }
            // #about.theme-original .content > .main > .item.first > .subtitle
            > .subtitle {
              font-weight: 100;
            }
          }
        }
      }
    }
  }
}
// end #about

#tools {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  // #tools .content
  .content {
    position: relative;
    height: calc(100vh - 140px);
    // #tools .content > .title
    > .title {
      position: absolute;
      width: 190px;
      top: -45px;
      right: -190px;
      text-align: center;
      font-size: 2rem;
      z-index: 9;
      transition: all 0.5s;
      transition-delay: 0.5s;
      // #tools .content > .title > div
      > div {
        // #tools .content > .title > div:last-child
        &:last-child {
          margin-top: -25px;
          opacity: 0;
          transition: all 0.5s;
        }
      }
    }
    // #tools .content > .main
    > .main {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      // #tools .content > .main > .column
      > .column {
        height: 100%;
        width: 33.3%;
        margin: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        // #tools .content > .main > .column:first-child
        &:first-child {
          position: relative;
          margin-left: 80px;
          animation: animationToolsFirstColumnReverse 0.25s 0.5s ease-in-out
            forwards;
          // #tools. .content > .main > .column:first-child::before
          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 50%;
            top: -13px;
            -moz-transform: skew(0deg, 4deg);
            -webkit-transform: skew(0deg, 4deg);
            -o-transform: skew(0deg, 4deg);
            -ms-transform: skew(0deg, 4deg);
            transform: skew(0deg, 4deg);
            animation: animationToolsFirstColumnUpReverse 0.25s 0.5s ease-in-out
              forwards;
          }
          // #tools. .content > .main > .column:first-child::after
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 50%;
            bottom: -13px;
            -moz-transform: skew(0deg, -4deg);
            -webkit-transform: skew(0deg, -4deg);
            -o-transform: skew(0deg, -4deg);
            -ms-transform: skew(0deg, -4deg);
            transform: skew(0deg, -4deg);
            animation: animationToolsFirstColumnDownReverse 0.25s 0.5s
              ease-in-out forwards;
          }
        }
        // #tools .content > .main > .column:last-child
        &:last-child {
          margin-right: 80px;
        }
        // #tools .content > .main > .column > .item
        > .item {
          width: 100%;
          text-align: center;
          filter: blur(10px);
          z-index: 5;
          transition: all 0.5s;
          img {
            width: 30%;
          }
        }
      }
    }
  }
  // #tools.active .content
  &.active {
    .content {
      // #tools.active .content > .title {
      > .title {
        right: 50px;
        transition: all 0.5s;
        transition-delay: 0.5s;
        // #tools.active .content > .title > div
        > div {
          // #tools.active .content > .title > div:last-child
          &:last-child {
            margin-top: 10px;
            opacity: 1;
            transition: all 0.5s;
            transition-delay: 1s;
          }
        }
      }
      // #tools.active .content > .main
      > .main {
        // #tools.active .content > .main > .column
        > .column {
          // #tools.active .content > .main > .column:first-child
          &:first-child {
            -webkit-box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0);
            box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0);
            animation: animationToolsFirstColumn 0.5s 0.5s ease-in-out forwards;
            // #tools.active .content > .main > .column:first-child::before
            &::before {
              top: 0px;
              -moz-transform: skew(0deg, 0deg);
              -webkit-transform: skew(0deg, 0deg);
              -o-transform: skew(0deg, 0deg);
              -ms-transform: skew(0deg, 0deg);
              transform: skew(0deg, 0deg);
              animation: animationToolsFirstColumnUp 0.5s 0.5s ease-in-out
                forwards;
            }
            // #tools.active .content > .main > .column:first-child::after
            &::after {
              bottom: 0px;
              -moz-transform: skew(0deg, 0deg);
              -webkit-transform: skew(0deg, 0deg);
              -o-transform: skew(0deg, 0deg);
              -ms-transform: skew(0deg, 0deg);
              transform: skew(0deg, 0deg);
              animation: animationToolsFirstColumnDown 0.5s 0.5s ease-in-out
                forwards;
            }
          }
          > .item {
            filter: blur(0);
            transition: all 0.5s;
            transition-delay: 0.25s;
          }
        }
      }
    }
  }
  // #tools.theme-high-contrast
  &.theme-high-contrast {
    // #tools.theme-high-contrast .content
    .content {
      color: #333333;
      // #tools.theme-high-contrast .content > .title
      > .title {
        // #tools.theme-original .content > .title > div
        > div {
          // #tools.theme-original .content > .title > div:first-child
          &:first-child {
            color: #ffffff;
          }
          // #tools.theme-original .content > .title > div:last-child
          &:last-child {
            color: #ffffff;
          }
        }
      }
      // #tools.theme-high-contrast .content > .main
      > .main {
        background: #000000;
        color: #ffffff;
        border: 2px solid #ffffff;
        border-left: none;
        border-right: none;
      }
    }
  }
  // #tools.theme-original
  &.theme-original {
    // #tools.theme-original .content
    .content {
      color: #333333;
      // #tools.theme-original .content > .title
      > .title {
        // #tools.theme-original .content > .title > div
        > div {
          // #tools.theme-original .content > .title > div:first-child
          &:first-child {
            color: #ffffff;
          }
          // #tools.theme-original .content > .title > div:last-child
          &:last-child {
            color: #333;
          }
        }
      }
      // #tools.theme-original .content > .main
      > .main {
        background: #f7f7f7;
        -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
        // #tools.theme-original .content > .main > .column
        > .column {
          // #tools.theme-original .content > .main > .column:first-child
          &:first-child {
            background: #f7f7f7;
            -webkit-box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0.1);
            box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0.1);
            // #tools.theme-original .content > .main > .column:first-child::before
            &::before {
              background: #f7f7f7;
            }
            // #tools.theme-original .content > .main > .column:first-child::after
            &::after {
              background: #f7f7f7;
            }
          }
        }
      }
    }
  }
}
// end #tools

#projects {
  // #projects .content
  .content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    // #projects .content > .title
    > .title {
      position: absolute;
      top: 20px;
      left: 20px;
      font-family: 'Major Mono Display', monospace;
      color: #ffffff;
      font-size: 3rem;
    }
    // #projects .content > .main
    > .main {
      opacity: 1;
      width: 100%;
      height: 75vh;
      padding: 20px 90px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      transition: all 500ms;
      // #projects .content > > .item
      > .item {
        width: 250px;
        min-height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // #projects .content > .item > .logo
        > .logo {
          // #projects .content > .item-container > .item > .logo > img
          > img {
            // width: 150px;
            width: 150px;
            transition: all 150ms;
          }
          z-index: 9;
        }
        // #projects .content > .item > .wrap
        > .wrap {
          width: 100%;
          opacity: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 50px 20px 10px 20px;
          margin-top: -150px;
          border-radius: 15px;
          transition: all 300ms;
          z-index: 8;
          > .message {
            text-align: center;
          }
        }
        &:hover {
          > .wrap {
            opacity: 1;
            margin-top: -50px;
            transition: all 300ms;
          }
        }
      }
    }
  }
  // #projects.theme-high-contrast
  &.theme-high-contrast {
    // #projects.theme-high-contrast .content
    .content {
      color: rgba(255, 255, 255, 1);
      a,
      a:active,
      a:visited {
        color: rgba(255, 255, 255, 1);
      }
      // #projects.theme-high-contrast .content > .main
      > .main {
        background: rgba(0, 0, 0, 1);
        border-top: 3px solid rgb(255, 255, 255);
        border-bottom: 3px solid rgb(255, 255, 255);
        // #projects.theme-original .content > .item > .wrap
        > .item {
          > .wrap {
            background: rgba(0, 0, 0, 1);
            border: 1px solid rgb(255, 255, 255);
          }
        }
      }
    }
  }
  // #projects.theme-original
  &.theme-original {
    // #projects.theme-original .content
    .content {
      color: rgba(51, 51, 51, 1);
      a,
      a:active,
      a:visited {
        color: rgba(51, 51, 51, 1);
      }
      // #projects.theme-original .content > .main
      > .main {
        // background: rgba(247, 247, 247, 1);
        // border-top: 5px double rgb(51, 51, 51);
        // border-bottom: 5px double rgb(51, 51, 51);
        // #projects.theme-original .content > .item > .wrap
        > .item {
          > .wrap {
            background: rgba(247, 247, 247, 0.7);
            box-shadow: 0 0 10px 1px rgba(247, 247, 247, 1);
          }
        }
      }
    }
  }
}
// end #projects

#jobs {
  // #jobs .content
  .content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // #jobs .content > .title
    > .title {
      position: absolute;
      top: 20px;
      left: 0;
      width: 200px;
      height: 75px;
      font-size: 4rem;
      color: transparent;
      -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #ffffff;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      > div {
        position: absolute;
        right: 100%;
        transition-delay: 500ms;
      }
    }
    // #jobs .content > .main
    > .main {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // #jobs .content > .main > .list
      > .list {
        margin-left: 200vw;
        width: 100%;
        color: #ffffff;
        overflow: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        transition: all 500ms;
        transition-delay: 500ms;
        // #jobs .content > .main > .list > .item
        > .item {
          flex: none;
          width: 300px;
          padding: 0 20px;
          scroll-snap-align: start;
          // #jobs .content > .main > .list > .item > .wrap
          > .wrap {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            // #jobs .content > .main > .list > .item > .wrap > .image
            > .image {
              width: 100%;
              height: 150px;
              text-align: center;
              border-radius: 5px 5px 0 0;
              // #jobs .content > .main > .list > .item > .wrap > .image > img
              > img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 5px 5px 0 0;
              }
            }
            // #jobs .content > .main > .list > .item > .wrap > .text
            > .text {
              height: 50%;
              padding: 20px;
              text-align: center;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      // #jobs .content > .main > .arrows
      > .arrows {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #f7f7f7;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        font-size: 1.5rem;
        opacity: 0;
        transition: all 300ms;
        // #jobs .content > .main > .arrows > .arrow
        > .arrow {
          margin: 0 10px;
          // #jobs .content > .main > .arrows > i
          > i {
            opacity: 1;
            cursor: pointer;
            transition: all 300ms;
            // #jobs .content > .main > .arrows > i >.arrow.disabled
            &.disabled {
              opacity: 0.4;
              cursor: default;
              transition: all 300ms;
            }
          }
        }
      }
    }
  }
  // #jobs.active
  &.active {
    // #jobs.active .content
    .content {
      // #jobs.active .content > .title
      > .title {
        // #jobs.active .content > .title > div
        > div {
          // #jobs.active .content > .title > div:nth-child(1)
          &:nth-child(1) {
            right: 108px;
            transition: all 300ms;
            transition-delay: 1000ms;
          }
          // #jobs.active .content > .title > div:nth-child(2)
          &:nth-child(2) {
            right: 71px;
            transition: all 300ms;
            transition-delay: 800ms;
          }
          // #jobs.active .content > .title > div:nth-child(3)
          &:nth-child(3) {
            right: 34px;
            transition: all 300ms;
            transition-delay: 600ms;
          }
          // #jobs.active .content > .title > div:nth-child(4)
          &:nth-child(4) {
            right: 0px;
            transition: all 300ms;
            transition-delay: 400ms;
          }
        }
      }
      // #jobs.active .content > .main
      > .main {
        > .list {
          margin-left: 0;
          transition: all 500ms;
          transition-delay: 500ms;
        }
        // #jobs.active .content > .main > .arrows
        > .arrows {
          opacity: 1;
          transition: all 300ms;
          transition-delay: 1s;
        }
      }
    }
  }
  // #jobs .gallery
  .gallery {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    z-index: -5;
    transition: all 500ms;
    // #jobs .gallery.show
    &.show {
      opacity: 1;
      z-index: 997;
      transition: opacity 500ms;
    }
    // #jobs .gallery > .top
    > .top {
      width: 100%;
      height: 50px;
      padding: 0 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // #jobs .gallery > .top > .title
      > .title {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        // #jobs .gallery > .top > .title > .text
        > .text {
          font-size: 1.5rem;
          font-weight: 300;
          cursor: default;
        }
        // #jobs .gallery > .top > .title > .link
        > .link {
          font-size: 1rem;
          font-weight: 300;
          padding-bottom: 3px;
          margin-left: 10px;
          // #jobs .gallery > .top > .title > .link > a
          a {
            text-decoration: none;
            transition: all 150ms;
            text-decoration: underline;
            &:active,
            &:visited {
              transition: all 150ms;
            }
            &:hover {
              transition: all 150ms;
            }
          }
        }
      }
      // #jobs .gallery > .top > .close
      > .close {
        font-size: 1.5rem;
        cursor: pointer;
        // #jobs .gallery > .top > .close:hover
        &:hover {
          transition: all 150ms;
        }
      }
    }
    // #jobs .gallery > .main
    > .main {
      position: relative;
      height: calc(100% - 160px);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // #jobs .gallery > .main > .arrow
      > .arrow {
        padding: 20px;
        height: 100%;
        cursor: pointer;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: all 150ms;
        &.disabled {
          opacity: 0;
          cursor: default;
        }
      }
      // #jobs .gallery > .main > .item
      > .item {
        opacity: 0;
        position: absolute;
        top: 20px;
        left: 60px;
        width: calc(100% - 120px);
        height: calc(100% - 40px);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: -5;
        transition: all 300ms;
        // #jobs .gallery > .main > .item.active
        &.active {
          opacity: 1;
          z-index: 998;
          transition: all 300ms;
        }
        // #jobs .gallery > .main > .item > img
        > img {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }
    }
    // #jobs .gallery > .bottom
    > .bottom {
      height: 120px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // #jobs .gallery > .bottom > .arrow
      > .arrow {
        height: 100%;
        width: 55px;
        font-size: 1.3rem;
        padding: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 999;
        transition: all 150ms;
        // #jobs .gallery > .bottom > .arrow.disabled
        &.disabled {
          opacity: 0;
          cursor: default;
        }
      }
      // #jobs .gallery > .bottom > .list
      > .list {
        height: 100%;
        width: calc(100% - 110px);
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        // #jobs .gallery > .bottom > .list > .item
        > .item {
          height: 80px;
          width: 100px;
          min-width: 100px;
          margin: 10px;
          scroll-snap-align: start;
          cursor: pointer;
          background: #000000;
          // #jobs .gallery > .bottom > .list > .item.active
          &.active {
            border: 5px solid #0090ce;
          }
          // #jobs .gallery > .bottom > .list > .item > img
          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 3px;
          }
        }
      }
    }
  }
  // #jobs.theme-high-contrast
  &.theme-high-contrast {
    // #jobs.theme-high-contrast .content
    .content {
      // #jobs.theme-high-contrast .content > .main
      > .main {
        // #jobs.theme-high-contrast .content > .main > .list
        > .list {
          // #jobs.theme-high-contrast .content > .main > .list > .item
          > .item {
            // #jobs.theme-high-contrast .content > .main > .list > .item > .wrap
            > .wrap {
              border: 1px solid #fff;
              // #jobs.theme-high-contrast .content > .main > .list > .item > .wrap > .image
              > .image {
                background: #000;
              }
            }
          }
        }
      }
    }
    // #jobs.theme-high-contrast .gallery
    .gallery {
      background: rgba(0, 0, 0, 1);
      // #jobs.theme-high-contrast .gallery > .top
      > .top {
        border-bottom: 1px solid #ffffff;
        // #jobs.theme-high-contrast .gallery > .top > .title
        > .title {
          color: #ffffff;
          // #jobs.theme-high-contrast .gallery > .top > .title > .link
          > .link {
            // #jobs.theme-high-contrast .gallery > .top > .title > .link a
            a {
              color: #ffffff;
              &:active,
              &:visited {
                color: #ffffff;
              }
            }
          }
        }
        // #jobs.theme-high-contrast .gallery > .top > .close
        > .close {
          color: #ffffff;
        }
      }
      // #jobs.theme-high-contrast .gallery > .main
      > .main {
        // #jobs.theme-high-contrast .gallery > .main > .arrow
        > .arrow {
          color: #ffffff;
        }
        // #jobs.theme-high-contrast .gallery > .main > .item
        > .item {
          // #jobs.theme-high-contrast .gallery > .main > .item > img
          > img {
            border: 1px solid #fff;
          }
        }
      }
      // #jobs.theme-original .gallery > .bottom
      > .bottom {
        border-top: 1px solid #ffffff;
        // #jobs.theme-high-contrast .gallery > .bottom > .arrow
        > .arrow {
          color: #ffffff;
        }
        // #jobs.theme-high-contrast .gallery > .bottom > .list
        > .list {
          // #jobs.theme-high-contrast .gallery > .bottom > .list > .item
          > .item {
            // #jobs.theme-high-contrast .gallery > .bottom > .list > .item > img
            > img {
              border: 1px solid #ffffff;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  // #jobs.theme-original
  &.theme-original {
    // #jobs.theme-original .content
    .content {
      // #jobs.theme-original .content > .main
      > .main {
        // #jobs.theme-original .content > .main > .list
        > .list {
          // #jobs.theme-original .content > .main > .list > .item
          > .item {
            // #jobs.theme-original .content > .main > .list > .item > .wrap
            > .wrap {
              background: rgba(0, 0, 0, 0.6);
              -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
              box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
              // #jobs.theme-original .content > .main > .list > .item > .wrap > .image
              > .image {
                background: rgba(247, 247, 247, 0.3);
              }
            }
          }
        }
      }
    }
    // #jobs.theme-original .gallery
    .gallery {
      background: rgba(0, 0, 0, 0.8);
      // #jobs.theme-original .gallery > .top
      > .top {
        border-bottom: 1px solid #444444;
        // #jobs.theme-original .gallery > .top > .title
        > .title {
          color: rgba(247, 247, 247, 1);
          // #jobs.theme-original .gallery > .top > .title > .link
          > .link {
            // #jobs.theme-original .gallery > .top > .title > .link a
            a {
              color: rgba(247, 247, 247, 1);
              &:active,
              &:visited {
                color: rgba(247, 247, 247, 1);
              }
            }
          }
        }
        // #jobs.theme-original .gallery > .top > .close
        > .close {
          color: rgba(247, 247, 247, 0.5);
          // #jobs.theme-original .gallery > .top > .close:hover
          &:hover {
            color: rgba(247, 247, 247, 1);
          }
        }
      }
      // #jobs.theme-original .gallery > .main
      > .main {
        // #jobs.theme-original .gallery > .main > .arrow
        > .arrow {
          color: rgba(247, 247, 247, 0.5);
          // #jobs.theme-original .gallery > .main > .arrow:hover
          &:hover {
            color: rgba(247, 247, 247, 1);
            transition: all 150ms;
          }
        }
      }
      // #jobs.theme-original .gallery > .bottom
      > .bottom {
        border-top: 1px solid #444444;
        // #jobs.theme-original .gallery > .bottom > .arrow
        > .arrow {
          color: rgba(247, 247, 247, 0.5);
          // #jobs.theme-original .gallery > .bottom > .arrow:hover
          &:hover {
            color: rgba(247, 247, 247, 1);
            transition: all 150ms;
          }
        }
        // #jobs.theme-original .gallery > .bottom > .list
        > .list {
          // #jobs.theme-original .gallery > .bottom > .list > .item
          > .item {
            // #jobs.theme-original .gallery > .bottom > .list > .item > img
            > img {
              opacity: 0.7;
              transition: all 150ms;
              // #jobs.theme-original .gallery > .bottom > .list > .item > img:hover
              &:hover {
                opacity: 1;
                transition: all 150ms;
              }
            }
          }
        }
      }
    }
  }
}
// end #jobs

#clients {
  // #clients .content
  .content {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    // #clients .content > .tilte
    > .title {
      position: relative;
      width: 100%;
      height: 3px;
      border-top: 1px solid #f7f7f7;
      > .text {
        position: absolute;
        bottom: -90px;
        left: 15%;
        padding: 5px 20px 4px 20px;
        border-radius: 10px 10px 0 0;
        border: 4px double #333333;
        font-family: 'Sansita Swashed', cursive;
        font-size: 3rem;
        color: #2a0055;
        background: rgb(222, 222, 222);
        background: linear-gradient(
          180deg,
          rgba(222, 222, 222, 1) 0%,
          rgba(247, 247, 247, 1) 100%
        );
        -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
        z-index: 2;
        transition: all 0.5s;
        transition-delay: 0.5s;
      }
    }
    // #clients .content > .main
    > .main {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      z-index: 3;
      // #clients .content > .main > .line
      > .line {
        width: calc(100% - 180px);
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        // #clients .content > .main > .line > .item
        > .item {
          width: 33.3%;
          transform: scale(0);
          transition-delay: 1s;
          > img {
            cursor: pointer;
          }
          // #clients .content > .main > .line > .item#logo-roadcard
          &#logo-roadcard {
            > img {
              width: 120px;
            }
          }
          // #clients .content > .main > .line > .item#logo-pamcary
          &#logo-pamcary {
            > img {
              width: 250px;
            }
          }
          // #clients .content > .main > .line > .item#logo-tqi
          &#logo-tqi {
            > img {
              width: 120px;
            }
          }
          // #clients .content > .main > .line > .item#logo-asia
          &#logo-asia {
            > img {
              width: 250px;
            }
          }
          // #clients .content > .main > .line > .item#logo-agv
          &#logo-agv {
            > img {
              width: 120px;
            }
          }
          // #clients .content > .main > .line > .item#logo-localcred
          &#logo-localcred {
            > img {
              width: 250px;
              cursor: default;
            }
          }
        }
      }
    }
  }
  // #clients.active
  &.active {
    // #clients.active .content
    .content {
      // #clients.active .content > .title
      > .title {
        // #clients.active .content > .title > .text
        > .text {
          bottom: -4px;
          transition: all 0.5s;
          transition-delay: 0.5s;
        }
      }
      // #clients.active .content > .main
      > .main {
        // #clients.active .content > .main > .line
        > .line {
          // #clients.active .content > .main > .line > .item
          > .item {
            transform: scale(1);
            transition-delay: 1s;
            animation: animationClientsItem 0.5s 0.5s forwards;
          }
        }
      }
    }
  }
  // #clients.theme-high-contrast
  &.theme-high-contrast {
    // #clients.theme-high-contrast .content
    .content {
      // #clients.theme-high-contrast .content > .main
      > .main {
        background: #000000;
        border-top: 8px solid #ffffff;
      }
    }
  }
  // #clients.theme-original
  &.theme-original {
    // #clients.theme-original .content
    .content {
      // #clients.theme-original .content > .main
      > .main {
        background: #2a0055;
        border-top: 8px solid #f7f7f7;
      }
    }
  }
}
// end #clients

// Animations
@keyframes arrowsAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

// Animations accessibility
@keyframes accessibility-in {
  0% {
    transform: translateX(-100%);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}

@keyframes accessibility-out {
  0% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(-100%);
    animation-timing-function: ease-out;
  }
}

// Animations tools
@keyframes animationToolsFirstColumn {
  0% {
    -webkit-box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0);
    box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0.1);
  }
}

@keyframes animationToolsFirstColumnReverse {
  0% {
    -webkit-box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0.1);
  }
  100% {
    -webkit-box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0);
    box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0);
  }
}

@keyframes animationToolsFirstColumnUp {
  0% {
    top: 0px;
    -moz-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  100% {
    top: -13px;
    -moz-transform: skew(0deg, 7deg);
    -webkit-transform: skew(0deg, 7deg);
    -o-transform: skew(0deg, 7deg);
    -ms-transform: skew(0deg, 7deg);
    transform: skew(0deg, 7deg);
  }
}

@keyframes animationToolsFirstColumnUpReverse {
  0% {
    top: -13px;
    -moz-transform: skew(0deg, 7deg);
    -webkit-transform: skew(0deg, 7deg);
    -o-transform: skew(0deg, 7deg);
    -ms-transform: skew(0deg, 7deg);
    transform: skew(0deg, 7deg);
  }
  100% {
    top: 0px;
    -moz-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
}

@keyframes animationToolsFirstColumnDown {
  0% {
    bottom: 0px;
    -moz-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  100% {
    bottom: -13px;
    -moz-transform: skew(0deg, -7deg);
    -webkit-transform: skew(0deg, -7deg);
    -o-transform: skew(0deg, -7deg);
    -ms-transform: skew(0deg, -7deg);
    transform: skew(0deg, -7deg);
  }
}

@keyframes animationToolsFirstColumnDownReverse {
  0% {
    bottom: -13px;
    -moz-transform: skew(0deg, -7deg);
    -webkit-transform: skew(0deg, -7deg);
    -o-transform: skew(0deg, -7deg);
    -ms-transform: skew(0deg, -7deg);
    transform: skew(0deg, -7deg);
  }
  100% {
    bottom: 0px;
    -moz-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
}

// Animations clients
@keyframes animationClientsItem {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
// end animationClientsItem
